<div>
    <app-alert titleText="{{alert.title}}" message="{{alert.message}}" *ngIf="isShowAlert"></app-alert>
  <!-- BREADCRUMB-->
  <section class="p-b-10 p-t-20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="au-breadcrumb-content">
            <div class="au-breadcrumb-left">
              <div class="title-5">Created Excursions</div>
              <!-- <span class="au-breadcrumb-span">Total -
                <span>{{excursionList && excursionList.length ? excursionList.length : ""}} </span>
              </span> -->
            </div>
            <!-- <a class="au-btn au-btn-icon au-btn--green au-btn--small" routerLink="/excursion/add">
              Add New Excursion <i class="fa fa-plus"></i>
            </a> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-t-20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-data__tool">
            <!-- <div class="table-data__tool-left">
              <div class="rs-select2--light rs-select2--md drop-div" dropdown container="body"> --> 
                <!-- <select class="js-select2 width-100pc" name="property" [(ngModel)]="selectedAction">
                  <option *ngFor="let action of actionsArr; let i=index">{{action}}</option>
                </select> -->
                <!-- <button dropdownToggle type="button" class="btn color-grey form-border dropdown-toggle width-100pc">{{selectedAction}}</button>
                <ul *dropdownMenu class="dropdown-menu">
                  <ng-container *ngFor="let action of actionsArr; let i=index">
                    <li (click)="onSelectionChange(action)">
                      <span class="pointer dropdown-item">{{action}}</span>
                    </li>
                    <li class="divider dropdown-divider" *ngIf="i !== actionsArr.length-1"></li>
                  </ng-container>
                </ul>
              </div>
              <button type="button" class="btn btn-prime" (click)="applySelection()">
                Apply
              </button>
            </div>  -->
            
            <div class="table-data__tool-right set_margin">
              <!-- <span class="pointer m-r-10" (click)="refresh()">
                <i class="fa fa-refresh"></i> Refresh
              </span> -->
              <button type="button" class="btn btn-prime" (click)="filterSelection(filterTemplate)">
                Filter
              </button>
              <button type="button" class="btn btn-prime" (click)="clearFilter()">
                Clear Filter
              </button>
            </div>
           

          </div>
          <div class="table-responsive table-responsive-data2">
            <table class="table table-data2 booking_modify">
              <thead>
                <tr class="table_header">
                  <!-- <th>
                    <label class="au-checkbox custom_checkbox">
                      <input type="checkbox" (change)="changeAllCheckboxSelection($event)">
                      <span class="au-checkmark"></span>
                    </label>
                  </th> -->
                  <th>
                    <!-- <span class="p-r-5 pointer">
                      <i class="fa fa-sort-alpha-asc" *ngIf="isIDDesc" (click)="isIDDesc=false;sortData('asc', 'id')"></i>
                      <i class="fa fa-sort-alpha-desc" *ngIf="!isIDDesc" (click)="isIDDesc=true;sortData('desc', 'id')"></i>
                    </span> -->
                    ID
                  </th>
                  <th>
                    <!-- <span class="p-r-5 pointer">
                      <i class="fa fa-sort-alpha-asc" *ngIf="isNameDesc" (click)="isNameDesc=false;sortData('asc', 'name')"></i>
                      <i class="fa fa-sort-alpha-desc" *ngIf="!isNameDesc" (click)="isNameDesc=true;sortData('desc', 'name')"></i>
                    </span> -->
                    Excursion Name
                  </th>
                  <!-- <th>
                    <span class="p-r-5 pointer">
                      <i class="fa fa-sort-alpha-asc" *ngIf="isIDDesc" (click)="isIDDesc=false;sortData('asc', 'id')"></i>
                      <i class="fa fa-sort-alpha-desc" *ngIf="!isIDDesc" (click)="isIDDesc=true;sortData('desc', 'id')"></i>
                    </span>
                    ID
                  </th> -->
                  <th>
                    <!-- <span class="p-r-5">
                      <i class="fa fa-sort-alpha-asc" *ngIf="isVendorDesc" (click)="isVendorDesc=false;sortData('asc', 'vendor')"></i>
                      <i class="fa fa-sort-alpha-desc" *ngIf="!isVendorDesc" (click)="isVendorDesc=true;sortData('desc', 'vendor')"></i>
                    </span> -->
                    Vendor
                  </th>
                  <th>
                    <!-- <span class="p-r-5">
                      <i class="fa fa-sort-alpha-asc" *ngIf="isPortDesc" (click)="isPortDesc=false;sortData('asc', 'port')"></i>
                      <i class="fa fa-sort-alpha-desc" *ngIf="!isPortDesc" (click)="isPortDesc=true;sortData('desc', 'port')"></i>
                    </span> -->
                    Port
                  </th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                  <th style="padding-right: 35px;">Action</th>
                </tr>
              </thead>
              <tbody class="tableList">
                <tr class="tr-shadow" *ngFor="let row of excursionList | paginate: {itemsPerPage: noOfItems, currentPage: currPage}; let no=index;">
                  <!-- <td>
                    <label class="au-checkbox custom_checkbox">
                      <input type="checkbox" (change)="setCheckboxSelection($event, row.id ,row)" checked="{{showSelected[no]}}">
                      <span class="au-checkmark"></span>
                    </label>
                  </td> -->
                  <td><span>CX045{{row.id ? row.id : ""}}</span></td>
                  <td>{{row.name ? row.name : ""}}</td>
                  <!-- <td>
                    <span class="">ICE{{row.id ? row.id : ""}}</span>
                  </td> -->
                  <td>{{row.vendor ? row.vendor : ""}}</td>
                  <td>{{row.port ? row.port : ""}}</td>
                  <td>{{row.activeDuration && row.activeDuration.startDate ? (row.activeDuration.startDate | date) :
                    ""}}</td>
                  <td>{{row.activeDuration && row.activeDuration.endDate ? (row.activeDuration.endDate | date) : ""}}</td>
                  <td>
                    <!-- <span class="block-email">{{row.status ? (row.status | uppercase) : ""}}</span> -->
                    <span class="set_padding"[ngClass]="{'block-mail':row.status=='ACTIVE','block-status-inactive':row.status=='INACTIVE'}">
                      {{row.status ? row.status=='ACTIVE' ? 'Active':  row.status=='INACTIVE'? 'Inactive' : '':''}}
                    </span>
                  </td>
                  <td>
                    <div class="table-data-feature action">
                      <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="fa fa-edit" (click)="editExcursion(row)"></i>
                      </button>
                      <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" (click)="showConfirmDeleteDialog(row.id,deleteDialogTemplate)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                <tr class="spacer"></tr>
              </tbody>
            </table>

            <pagination-controls class="pull-right p-t-5 .pagination-text-size"  (pageChange)="currPage = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #filterTemplate>
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="width-full">Fliter Data</h4>
      <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="modal-body">
      <div>
          <input type="radio" name="radio-group" id="name" [(ngModel)]="filterType" value="byName" (click)="searchedByName()"> 
          <label for="name" class="pointer">By Name</label>
       
        <div>
          <input type="text" class="form-control" name="searchByName" [(ngModel)]="searchByName" disabled={{isNameSelected}} />
        </div>
      </div>

      <div class="m-t-20">
       
          <input type="radio" name="radio-group" id="id1" [(ngModel)]="filterType" value="byId" (click)="searchedById()"> 
          <label for="id1" class="pointer">By Id</label>
        
        <div>
          <input type="text" class="form-control"  name="searchById" [(ngModel)]="searchById" disabled={{isIdSelected}} />
        </div>
      </div>

      <div class="m-t-20">
      
          <input type="radio" name="radio-group" id="date" [(ngModel)]="filterType" value="byDate" (click)="searchedByDate()"> 
          <label for="date" class="pointer">By Date</label>
       
        <div class="row p-1">
          <div class="col-md-6">
            <div class="m-b-10">Start Date</div>
            <div class="excursionRow position-relative">
              <input bsDatepicker #startDp="bsDatepicker" type="text" class="form-control display-inline-blk"
                [bsConfig]="dpConfig" placement="top" name="searchByStartDate" [(ngModel)]="searchByStartDate" disabled={{isStartDateSelected}}>
              <span class="display-inline-blk duration pointer p-t-10 position-absolute right-0" (click)="startDp.show()">
                <i class="fa fa-calendar"></i>
              </span>
              <br>
              <span class="form-error" *ngIf="showDatevalidationMsg">{{title}}
              </span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="m-b-10">End Date</div>
            <div class="drop-div excursionRow position-relative">
              <input bsDatepicker #endDp="bsDatepicker" type="text" class="form-control display-inline-blk" [bsConfig]="dpConfig"
                placement="top" name="searchByEndDate" [(ngModel)]="searchByEndDate" disabled={{isEndDateSelected}}>
              <span class="display-inline-blk duration pointer p-t-10 position-absolute right-0" (click)="endDp.show()">
                <i class="fa fa-calendar"></i>
              </span>
            </div>
          </div>

        </div>
      </div>

      <div class="m-t-20 text-center">
        <button type="button" class="btn btn-prime btn-black m-r-10" (click)="modalRef.hide()">
          Cancel</button>
        <button type="button" class="btn btn-prime" (click)="filterData()" [disabled]="isEndDateSelected && isStartDateSelected && isIdSelected && isNameSelected">
          Submit</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteDialogTemplate>
    <div class="modal-content">
  
      <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button> -->
  
      <div class="modal-body">
        <div class="text-center">
          <img src="assets/images/delete_icon.svg" width="75" height="75">
        </div>
  
        <div class="m-t-20 text-center">
          
          Are you sure want to delete it?
        </div>
        <div class="modal-header text-center">
        </div>
        <div class="m-t-20 text-center">
          <button type="button" class="btn btn-prime btn-black m-r-10" (click)="modalRef.hide()">
            Cancel</button>
          <button type="button" class="btn btn-prime" (click)="deleteSelectedExcursion()">
            Delete</button>
        </div>
      </div>
    </div>
  </ng-template>