<div>
    <section class="p-t-20">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="table-data__tool">
                <div class="table-data__tool-left">
                
                </div>
                <div class="table-data__tool-right">
                  <span class="pointer" (click)="refresh()">
                    <i class="fa fa-refresh"></i> Refresh
                  </span>
                </div>
              </div>
              
              <!--  table list data-->
              <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Sr No</th>
                      <th>
                        <span class="p-r-5">
                          <i class="fa fa-long-arrow-up" (click)="sortData('asc', 'mealName')"></i>
                          <i class="fa fa-long-arrow-down" (click)="sortData('desc', 'mealName')"></i>
                        </span>
                        Meal Name
                      </th>
                      
                      <th>
                        <span class="p-r-5">
                          <i class="fa fa-long-arrow-up" (click)="sortData('asc', 'mealPrice')"></i>
                          <i class="fa fa-long-arrow-down" (click)="sortData('desc', 'mealPrice')"></i>
                        </span>
                        Price
                      </th>
                      <th>
                          <span class="p-r-5">
                            <i class="fa fa-long-arrow-up" (click)="sortData('asc', 'capacity')"></i>
                            <i class="fa fa-long-arrow-down" (click)="sortData('desc', 'capacity')"></i>
                          </span>
                          Capacity
                        </th>
                      <th>
                        <span class="p-r-5">
                          <i class="fa fa-long-arrow-up" (click)="sortData('asc', 'cancellationFee')"></i>
                          <i class="fa fa-long-arrow-down" (click)="sortData('desc', 'cancellationFee')"></i>
                        </span>
                        Cancellation Fee
                      </th>
      
                      <th>
                          <span class="p-r-5">
                                    <i class="fa fa-long-arrow-up" (click)="sortData('asc', 'startDate')"></i>
                                    <i class="fa fa-long-arrow-down" (click)="sortData('desc', 'startDate')"></i>
                                  </span>
                          From Date
                        </th>
                        <th>
                          <span class="p-r-5">
                                    <i class="fa fa-long-arrow-up" (click)="sortData('asc', 'endDate')"></i>
                                    <i class="fa fa-long-arrow-down" (click)="sortData('desc', 'endDate')"></i>
                                  </span>
                          To Date
                        </th>

                      <th>
                        <span class="p-r-5">
                          <i class="fa fa-long-arrow-up" (click)="sortData('asc', 'status')"></i>
                          <i class="fa fa-long-arrow-down" (click)="sortData('desc', 'status')"></i>
                        </span>
                        Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <!--  -->
                  <tbody>
                    <tr class="tr-shadow" *ngFor="let row of mealList | paginate: {itemsPerPage: noOfItems, currentPage: currPage}; let no=index;">
                      <td>
                        <label class="au-checkbox">
                          <input type="checkbox" (change)="setCheckboxSelection($event, row.id)">
                          <span class="au-checkmark"></span>
                        </label>
                      </td>
      
                      <td>{{no+1}}</td>
                      <td>{{row.mealName ? row.mealName : ""}}</td>
                      <td>{{row.mealPrice ? row.mealPrice : ""}}</td>
                      <td>{{row.capacity ? row.capacity : ""}}</td>
                      <td>{{row.cancellationFee ? row.cancellationFee : ""}}</td>

                      <td>{{row.startDate ? (row.startDate | date) : ""}}</td>
                      <td>{{row.endDate ? (row.endDate | date) : ""}}</td>
                      <td>
                        <span class="block-email">{{row.status ? (row.status | uppercase) : ""}}</span>
                      </td>
                      <td>
                        <div class="table-data-feature">
                          <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                            <i class="fa fa-trash"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
      
                    <tr class="spacer"></tr>
                  </tbody>
                </table>
                <pagination-controls class="pull-right p-t-5" (pageChange)="currPage = $event"></pagination-controls>

              </div>
            </div>
          </div>
        </div>
      </section>
</div>