<section  class="p-t-20">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="table-data__tool-right m-b-10">
                  <button type="button" class="btn btn-prime">
                   Add New
                  </button>
                
                </div>
  <div class="table-responsive table-responsive-data2">

    <table class="table table-data2 booking_modify table_width">
      <thead>
        <tr class="table_header">
          <th>ID</th>
          <th>Discount Rule Name</th>
          <th>Discount</th>
          <th>Valid From</th>
          <th>Valid To</th>
          <th>Action</th>
          <th></th>
       
        </tr>
      </thead>
      <tbody class="tableList">
        <tr class="tr-shadow">
         <td>1</td>
         <td>Christmas Discount</td>
         <td>ABCD12345</td>
         <td>10%</td>
         <td>15-JUN-2018</td>
         <td>15-JUL-2019</td>
         <td>Edit | Delete</td>
       
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  </div>
  </div>
</section>
