<app-alert titleText="{{alert.title}}" message="{{alert.message}}" *ngIf="isShowAlert"></app-alert>

<div class="p-l-20 p-r-20">
  <!-- BREADCRUMB-->
  <section class="p-b-10 p-t-20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- <div class="au-breadcrumb-content">
            <div class="au-breadcrumb-left"> -->
              <h4 class="title-5">Search Excursion</h4>
            <!-- </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>
  <section class="m-b-30 m-t-20" *ngIf="travellerData && travellerData.length != 0">
      <div class="row m-full-20">
          <div class="col-md-12">
              <label class="p-r-20 pointer set_align"><b>Selected Traveller</b> </label>
          </div>
        </div>
      <div class="container">
         
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive table-responsive-data2">
              <table class="table table-data2 form-border">
                <thead>
                  <tr class="table_header">
                    <th>Sr No</th>
                    <th>Cabin No</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="tr-shadow" *ngFor="let data of travellerData; let no = index;">
                    <td>{{no+1}}</td>
                    <td>{{data.cabin}}</td>
                    <td>{{data.firstName}}</td>
                    <td>{{data.lastName}}</td>
                    <td>{{data.status}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  

  <section class="p-b-10 p-t-20">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2 m-t-10">
                  Excursion
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Enter an excursion name" name="ename"
                    [(ngModel)]="excursionName">
                </div>
              </div>
              <div class="row m-t-20">
                <div class="col-md-2 m-t-10">
                  Date
                </div>
                <div class="col-md-4 p-r-0">
                  <button type="button" class="btn btn-secondary m-r-10" (click)="selectToday()" [ngClass]="{'btn_select':select_today,'btn_notselect':!select_today}">Today</button>
                  <button type="button" class="btn btn-secondary" (click)="selectTomm()" [ngClass]="{'btn_select':select_tomorrow,'btn_notselect':!select_tomorrow}">Tomorrow</button>
                </div>
                <div class="col-md-4">
                  <input bsDatepicker #validFrom="bsDatepicker" type="text" class="form-control display-inline-blk"
                    [bsConfig]="dpConfig" name="dateVal" [(ngModel)]="selectedDate" (ngModelChange)="onValueChange($event)">
                  <span class="display-inline-blk duration pointer p-t-10 position-absolute right-25" (click)="validFrom.show()">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
              <div class="row m-t-20">
                <div class="col-md-2 m-t-10">Category</div>
                <div dropdown class="drop-div col-md-4">
                  <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{selectedCategory}}</button>
                  <ul *dropdownMenu class="dropdown-menu">
                    <ng-container *ngFor="let category of categoryList; let i=index">
                      <li (click)="onCategoryChange(category)">
                        <span class="dropdown-item pointer">{{category}}</span>
                      </li>
                      <li class="divider dropdown-divider" *ngIf="i !== categoryList.length-1"></li>
                    </ng-container>
                  </ul>
                </div>
              </div>
              <div class="row m-t-20">
                <div class="col-md-6 text-center">
                  <button type="button" class="btn btn-prime" (click)="searchExcursion()">Search</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-6">
          <div class="table-responsive table-responsive-data2">
            <table class="table table-data1">
              <thead>
                <tr class="table_header">
                  <th>Sr No</th>
                  <th>Cabin No</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of travellerData; let no = index;">
                  <td>{{no+1}}</td>
                  <td>{{data.cabin}}</td>
                  <td>{{data.firstName}}</td>
                  <td>{{data.lastName}}</td>
                  <td>{{data.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <!-- <section class="m-b-30 m-t-20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive table-responsive-data2">
            <table class="table table-data1">
              <thead>
                <tr class="table_header">
                  <th>Sr No</th>
                  <th>Cabin No</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr class="tr-shadow" *ngFor="let data of travellerData; let no = index;">
                  <td>{{no+1}}</td>
                  <td>{{data.cabin}}</td>
                  <td>{{data.firstName}}</td>
                  <td>{{data.lastName}}</td>
                  <td>{{data.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- 
    
   -->
  <section class="m-t-20 " *ngIf="filterExcursionList && filterExcursionList.length">
    <div class="container">
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 float-right">
          <div class="display-inline-blk float-right">
            <button type="button" class="btn add">Go</button>
          </div>
          <div class="display-inline-blk pull-right m-r-10 width-80pc ">
            <input placeholder="Filter" type="text" name="filter" class="form-control" [(ngModel)]="filterExcursion">
          </div>

        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <div *ngIf="filterExcursionList && filterExcursionList.length">
    <div class="container">
      <section id="ticket" *ngFor="let excursion of filterExcursionList">
        <!-- <div class="container"> -->
        <div class="ticket_cont set_bgcolor" *ngIf="excursion.status=='ACTIVE'">
          <div class="row ">
            <div class="col-lg-8 ">
              <div class="row m_l_0 p_t_20 p_b_20">
                <div class="col-lg-4">
                  <!-- <img src="assets/images/dummy_img.jpg" height="250px" width="300px" class="image-box"> -->
                  <img src={{excursion.content.media[0].url}} height="250px" width="300px" class="image-box">
                </div>
                <div class="col-lg-8">
                  <h2>{{excursion.name ? excursion.name : ""}}</h2>
                  <ul class="detail">
                    <li><span>By:</span> Tour operator {{excursion.vendor ? excursion.vendor : ''}}</li>
                    <li><span class="m-l-30">Starts at:</span>{{excursion.startTime ? (excursion.startTime.slice(0, -3)) : ""}}</li>
                  </ul>
                  <div class="detail">
                    <div class="caption float-left">Duration:</div>
                    <div class="value ">{{excursion.duration ? excursion.duration : 0}} mins</div>
                    <div class="clearfix"></div>
                    <div class="caption float-left">Rules:</div>
                    <div class="rules float-left">
                      <ul>
                        <li *ngFor="let rule of getExcursionRules(excursion)">{{rule}}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-1">
              <div class="rip"></div>
            </div>
            <div class="col-lg-3 parttwo">
              <div class="text-center ticketparttwo">
                <h2><span>$</span>{{excursion.prices && excursion.prices[0] ?
                  excursion.prices[0].adult : '0'}}</h2>
                <p class="pertraveler">Per Traveler</p>
                <!-- <p class="status green"> Availablity: {{availablityOfSeat}}</p> -->
                <p class="status green" [ngClass]="excursion.capacity.max-excursion.bookingCount >9 ? 'availablity_color':'availabilty_maxcolor'"><span class="p-r-5"> Availablity:</span>{{excursion.capacity.max-excursion.bookingCount == -excursion.capacity.max-excursion.bookingCount ? 0 :excursion.capacity.max-excursion.bookingCount}} </p>
                <button type="button" class="btn btn-prime" (click)="bookExcursion(excursion)"  [disabled]="excursion.capacity.max-excursion.bookingCount==0 || excursion.capacity.max-excursion.bookingCount== -excursion.capacity.max-excursion.bookingCount ? true:false">Book Now</button>
                <!-- <button class="booknow btn btn-prime" (click)="bookExcursion(excursion)" [disabled]="excursion.capacity.max-excursion.bookingCount==0 || excursion.capacity.max-excursion.bookingCount== -excursion.capacity.max-excursion.bookingCount? true:false">
                 
                  Book Now</button> -->
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </section>
    </div>
  </div>

</div>


