.btn_select{
background-color:#1BB934;
border-color:#1BB934
}
.btn_notselect{
    background-color:#6c757d;
    border-color:#6c757d;
}
.set_bgcolor{
    background-color: #f9f9f9;
}
.set_align{
    margin-left:-18px;
}
.availablity_color{
    color:green;
}
 button.booknow{
    background-color:#cb202d;
    padding:0px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 400;
    /* padding: 8px 35px; */
    /* border: 0px solid #f00; */
}  
.availabilty_maxcolor{
    color:#ffbf00 ;
}