<div>
  <section class="p-b-10 p-t-20">
    <div class="container">
      <div class="row ">

        <div class="col-md-12">
          <div class="text-center">
            <img src="assets/images/scan_image.png" height="300" width="300">
          </div>
          <div class="text-center">
            <div class="m-t-20 set_width"><span class="scan_card"> Scan/Swipe Charge Card for Single or Multiple Travellers. Once Done, Press “Next” 
            </span></div>
            <!-- <div><span> Once done, Press "Next"</span></div> -->
          </div>
        </div>
      </div>
      <!--  -->

      <div class="row m-t-30">
        <div class="col-md-12">
          <div class="">
            <label class=""><b>Scanned Traveller Details</b> </label>
          </div>
          <!-- scanned traveler details table -->
          <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
              <thead>
                <tr class="table_header">
                  <th>Sr No</th>
                  <th>Cabin</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Gender</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody class="tableList">
                <tr class="tr-shadow" *ngFor="let row of searchedTravellerList let no=index;">
                  <td> {{row.id? row.id:""}}</td>
                  <td>{{row.cabin ? row.cabin : ""}}</td>
                  <td>{{row.firstName ? row.firstName : ""}}</td>
                  <td>{{row.lastName ? row.lastName : ""}}</td>
                  <td>{{row.gender ? row.gender : ""}}</td>
                  <td>{{row.status ? row.status : ""}}</td>
                  <!-- <td><a role="button" text (click)="deleteTraveller(no)">Delete</a></td> -->
                  <td>
                    <div class="action text-center">
                      <span class="item pointer" title="Delete">
                        <i class="fa fa-trash" (click)="deleteTraveller(no)"></i>
                      </span></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="m-t-40 m-b-20 text-center">
        <button type="button" class="btn btn-prime btn-black" [disabled]="true"  (click)="bookExcursion()">
          Next</button>
      </div>
    </div>
  </section>
</div>