<section id="traveller_pricing" class="modal-body p-l-5 p-r-5">
  <div class="container">
    <div class="modal-header">
      <!-- <h4 class="modal-title pull-left">{{title}}</h4> -->
      <h4 class="modal-title pull-left">Travellers & Pricing</h4>
      <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <!--  -->
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive table-responsive-data2">
            <table class="table table-data1 form-border">
              <thead>
                <tr class="table_header">
                  <th>#</th>
                  <!-- <th>Excursion Name</th> -->
                  <th>Cabin</th>
                  <th>Type</th>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Height</th>
                  <th>Weight</th>
                  <th>Price</th>

                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="tableList" *ngFor="let row of bookedTravellerList let no=index;">
                <tr class="tr-shadow">
                  <td>{{row.id ? row.id : ""}}</td>
                  <td>{{row.traveller.cabin}}</td>
                  <td>{{row.traveller.isChild ? 'Child' : 'Adult'}}</td>
                  <td>{{row.traveller.firstName + " " + row.traveller.lastName}}</td>
                  <td>{{row.traveller.age ? row.traveller.age :""}}</td>
                  <td>{{row.traveller.height ? row.traveller.height : ""}}</td>
                  <td>{{row.traveller.weight ? row.traveller.weight : ""}}</td>
                  <td>{{row.price ? row.price : ''}}</td>
                  <td>
                    <div class="table-data-feature action">
                      <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="fa fa-edit"></i>
                      </button>

                      <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteTraveller(no)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <section id="bookingdetail">
      <div class="detailtable">
        <div class="row m-t-10">
          <div class="col-xl-4 col-lg-4 detailtab_vrline">
            <div class="table_container">
              <h3>Orignal</h3>
              <div class="travallersdetail m_t_5">
                <div class="caption caption_width">Adult:</div>
                <div class="count_cont">2 x $900.00</div>
                <div class="isequal">=</div>
                <div class="total_count">$180.00</div>
              </div>


              <div class="travallersdetail m_t_5">
                <div class="caption caption_width">Child:</div>
                <div class="count_cont">2 x $900.00</div>
                <div class="isequal">=</div>
                <div class="total_count">$180.00</div>
              </div>
              <div class="hr_total"></div>
              <div class="totalammount">$250.00</div>
              <div class="discount">(- Discount 10%) - $ 23.00</div>
              <div class="hr_total float-left"></div>
              <div>
                <span class="pricingtotal float-left">Total</span>
                <span class="pricingtotal float-right">$207.00 </span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 detailtab_vrline">
            <div class="table_container">
              <h3>Revised</h3>
              <div class="travallersdetail m_t_5">
                <div class="caption">Adult:</div>
                <div class="count_cont">2 x $900.00</div>
                <div class="isequal">=</div>
                <div class="total_count">$180.00</div>
              </div>


              <div class="travallersdetail m_t_5">
                <div class="caption">Child:</div>
                <div class="count_cont">2 x $900.00</div>
                <div class="isequal">=</div>
                <div class="total_count">$180.00</div>
              </div>
              <div class="hr_total"></div>
              <div class="totalammount">$250.00</div>
              <div class="discount">(- Discount 10%) - $ 23.00</div>
              <div class="hr_total float-left"></div>
              <div>
                <span class="pricingtotal float-left">Total</span>
                <span class="pricingtotal float-right">$207.00 </span>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 ">

            <div class="table_container">
              <h3>Difference</h3>
              <div class="travallersdetail m_t_5">
                <div class="difference_caption">
                  <h3>$ 50 in credit</h3>
                </div>
              </div>


              <div class="travallersdetail m_t_5">
                <div class="difference_caption_width">Cabin:</div>
                <div class="count_cont">201</div>
              </div>
              <div class="travallersdetail m_t_5">
                <div class="difference_caption_width">Change:</div>
                <div class="caption_content">Robet Doe (Child) is removed from the booking</div>
              </div>

            </div>
          </div>
        </div>
        <div class="row m-t-10">
          <div class="col-12 text-center m_b_10">
            <!-- <button class="Update" (click)="updateBooking()">Save</button>
            <button class="cancel" (click)="bsModalRef.hide()">Cancel</button> -->
            <button class="btn btn-prime btn-black m-r-20" (click)="updateBooking()">Save</button>
            <button class="btn btn-prime" (click)="bsModalRef.hide()">Cancel</button>

          </div>
        </div>

      </div>
    </section>




    <!-- right end here -->
  </div>
  <!-- </div>
  </div> -->
</section>