<section class="p-t-20">
  <div class="container" style="border:1px solid lightgray; padding:30px">
    <div class="row">
      <div class="col-md-12">
        <h3 class="title-5 m-b-35">Create Meal</h3>
      </div>
    </div>
    <form>
      <!-- Step 2 start from here -->
      <div>
        <div class="row">
          <div class="col-md-12">
            <h4 style="color:red">Meal</h4>
          </div>
        </div>
        <div class="row m-t-30">
          <div class="col-md-4">
            <div>Meal</div>
            <input type="text" class="form-control" name="mealTitle" [(ngModel)]="mealTitle" #mealName="ngModel"
              required>
            <!-- <span class="form-error" *ngIf="((!mealName.pristine || formSubmitted) && !validateMealTitle())">Meal Title
              required</span> -->
          </div>
          <div class="col-md-4">
            <div>Reservation</div>
            <div dropdown class="drop-div">
              <button dropdownToggle type="button" class="btn color-grey border-grey dropdown-toggle width-100pc">{{selectedReservationType}}</button>
              <ul *dropdownMenu class="dropdown-menu">
                <ng-container *ngFor="let type of reservationTypeList; let i=index">
                  <li (click)="onReservationTypeChange(type)">
                    <span class="dropdown-item pointer">{{type}}</span>
                  </li>
                  <li class="divider dropdown-divider" *ngIf="i !== reservationTypeList.length-1"></li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
        <!--  -->
        <!--  -->
        <div class="row">
          <div class="col-md-12">
            <h4 class="title-7 m-b-20 m-t-30" style="color:red">Cuisine & Menu</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div>Cuisine Type</div>
            <div dropdown class="drop-div">
              <button dropdownToggle type="button" class="btn color-grey border-grey dropdown-toggle width-100pc">{{selectedCuisionType}}</button>
              <ul *dropdownMenu class="dropdown-menu">
                <ng-container *ngFor="let type of cuisineTypeList; let i=index">
                  <li (click)="onCuisineTypeChange(type)">
                    <span class="dropdown-item pointer">{{type}}</span>
                  </li>
                  <li class="divider dropdown-divider" *ngIf="i !== cuisineTypeList.length-1"></li>
                </ng-container>
              </ul>
            </div>
          </div>
          <!--  -->
          <div class="col-md-2 m-t-30">
            <button type="submit" class="btn btn-prime btn-black" (click)="addCuisineInList()">Add</button>
          </div>
        </div>
        <!--  display added cuisine-->
        <div class="row m-t-10" *ngIf="selectedCuisineList && selectedCuisineList.length !== 0">
          <div class="col-md-12">
            <ul class="list-unstyled">
              <ng-container *ngFor="let cruisen of selectedCuisineList; let i=index">
                <li style="float: left;">
                  <span class="dropdown-item pointer">{{cruisen}}
                    <span><i class="fa fa-times" aria-hidden="true" (click)="deleteCruiseItem(i)"></i></span></span>
                </li>
                <!-- <li class="divider dropdown-divider" *ngIf="i !== selectedCuisineList.length-1"></li> -->
              </ng-container>
            </ul>
          </div>
        </div>
        <!--  menu-->
        <div class="row">
          <div class="col-md-12 m-t-20">
            <div>Menu</div>
            <div class="row m-t-10">
              <div class="col-md-12">
                <app-ngx-editor name="menuDetail" [config]="editorConfig" [(ngModel)]="menuDetails"></app-ngx-editor>
              </div>
            </div>
          </div>
        </div>

        <!-- timings -->
        <div class="row">
          <div class="col-md-12">
            <h4 class="title-7 m-t-30" style="color:red">Timings</h4>
          </div>
        </div>
        <div class="row m-t-20">
          <!--  -->
          <div class="form-group col-md-4">
            <div class="form_caption m-b-10">From</div>
            <div dropdown [autoClose]="false" class="excursionRow position-relative">
              <input type="text" class="form-control display-inline-blk" [(ngModel)]="mealStartTime" name="mealStartTime"
                placeholder="00:00" #sTime="ngModel">
              <span dropdownToggle class="display-inline-blk duration pointer p-t-10 position-absolute right-0"><i
                  class="fa fa-clock-o"></i></span>

              <ul *dropdownMenu class="dropdown-menu p-l-20">
                <timepicker name="timepicker" [(ngModel)]="mealStartTime" (ngModelChange)="updateTimeFormat('mealStartTime')"
                  [showMeridian]="false"></timepicker>
              </ul>
            </div>
            <!-- <span class="form-error" *ngIf="(!sTime.pristine || formSubmitted) && !validateMealStartTime()">Start
              time is required</span> -->
          </div>
          <!--  -->
          <div class="form-group col-md-4">
            <div class="form_caption m-b-10">To</div>
            <div dropdown [autoClose]="false" class="excursionRow position-relative">
              <input type="text" class="form-control display-inline-blk" [(ngModel)]="mealEndTime" name="mealEndTime"
                placeholder="00:00" #eTime="ngModel">
              <span dropdownToggle class="display-inline-blk duration pointer p-t-10 position-absolute right-0"><i
                  class="fa fa-clock-o"></i></span>

              <ul *dropdownMenu class="dropdown-menu p-l-20">
                <timepicker name="timepicker" [(ngModel)]="mealEndTime" (ngModelChange)="updateTimeFormat('mealEndTime')"
                  [showMeridian]="false"></timepicker>
              </ul>
            </div>
            <!-- <span class="form-error" *ngIf="(!eTime.pristine || formSubmitted) && !validateMealEndTime()">Start
              time is required</span> -->
          </div>
          <!-- <div class="col-md-4">
            <div>From</div>
            <input type="text" class="form-control" name="mealStartTime" [(ngModel)]="mealStartTime" #startTime="ngModel"
              required>
            <span class="form-error" *ngIf="((!startTime.pristine || formSubmitted) )">Meal start
              time required</span>
          </div> -->
          <!-- <div class="col-md-4">
            <div>To</div>
            <input type="text" class="form-control" name="mealEndTime" [(ngModel)]="mealEndTime" #endTime="ngModel"
              required>
            <span class="form-error" *ngIf="((!endTime.pristine || formSubmitted))">Meal end
              time required</span>
          </div> -->
          <div class="col-md-4">
            <div>Avg Duration (Minutes)</div>
            <input type="text" class="form-control" name="mealAvgTime" [(ngModel)]="mealAvgTime" #avgTime="ngModel"
              required>
            <!-- <span class="form-error" *ngIf="((!avgTime.pristine || formSubmitted))">Meal end
              time required</span> -->
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="col-md-12">
            <h4 class="title-7 m-b-20 m-t-30" style="color:red">Price and Fees</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form_caption m-b-10">
              Per person
            </div>
            <div class="excursionRow">
              <input type="number" class="col-md-10 form-control set_width display-inline-blk pull-left input_label"
                name="pricePerPerson" [(ngModel)]="pricePerPerson" required #priceInput="ngModel">
              <span class="col-md-2 display-inline-blk duration pull-left label_input set_style">$</span>
              <!-- <span class="form-error" *ngIf="((!priceInput.pristine || formSubmitted) && !validatePrice())">
                Price per person required</span> -->
            </div>
          </div>
          <!--  -->
          <div class="col-md-4">
            <div class="form_caption m-b-10">
              Cancellation Fee
            </div>
            <div class="excursionRow">
              <input type="number" class="col-md-10 form-control set_width display-inline-blk pull-left input_label"
                name="cancellationFee" [(ngModel)]="cancellationFee" #cancellationInput="ngModel" required>
              <span class="col-md-2 display-inline-blk duration pull-left label_input set_style">$</span>
              <!-- <span class="form-error" *ngIf="((!cancellationInput.pristine || formSubmitted) && !validateCancellationFee())">Cancellation
                price required</span> -->
            </div>
          </div>
          <!--  -->
        </div>

        <div class="row">
          <div class="col-md-12">
            <h4 class="title-7 m-b-20 m-t-30" style="color:red">Guest Count</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form_caption m-b-10">
              Pre booking
            </div>
            <div class="excursionRow">
              <input type="number" class="col-md-10 form-control set_width display-inline-blk pull-left input_label"
                name="preBookingCapacity" [(ngModel)]="preBookingCapacity" #preBooking="ngModel">
              <span class="col-md-2 display-inline-blk duration pull-left label_input set_style">%</span>
              <!-- <span class="form-error" *ngIf="((!preBooking.pristine || formSubmitted) && !validatePreBooking())">Pre
                booking info required</span> -->
            </div>
          </div>
          <!--           
          <div class="col-md-4">
            <div>Capacity</div>
            <input type="text" class="form-control" name="totalCapacity" [(ngModel)]="totalCapacity" #capacity="ngModel"
              required>
            <span class="form-error" *ngIf="((!capacity.pristine || formSubmitted) && !validateTotalCapacity())">Total
              capacity
              info required</span>
          </div> -->
        </div>

        <!--  -->
        <div class="row">
          <div class="col-md-12">
            <h4 class="title-7 m-b-20 m-t-30" style="color:red">Active Duration</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <div class="form_caption m-b-10">Start Date</div>
              <div class="excursionRow position-relative">
                <input bsDatepicker #startDp="bsDatepicker" type="text" class="form-control display-inline-blk"
                  [bsConfig]="dpConfig" name="startDate" [(ngModel)]="startDate" #sdate="ngModel">
                <span class="display-inline-blk duration pointer p-t-10 position-absolute right-0" (click)="startDp.show()">
                  <i class="fa fa-calendar"></i>

                  <!-- <img src="/assets/images/small_calendar.svg" height="20" width="20"> -->
                </span>

              </div>
              <!-- <span class="form-error" *ngIf="((!sdate.pristine || formSubmitted) && !validateDate())">Start
                date is required</span> -->
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="form-group">
              <div class="form_caption m-b-10">End Date</div>
              <div class="excursionRow position-relative">
                <input bsDatepicker #endDp="bsDatepicker" type="text" class="form-control display-inline-blk"
                  [bsConfig]="dpConfig" name="endDate" [(ngModel)]="endDate" #edate="ngModel">
                <span class="display-inline-blk duration pointer p-t-10 position-absolute right-0" (click)="endDp.show()">
                  <i class="fa fa-calendar"></i>
                  <!-- <img src="/assets/images/small_calendar.svg" height="20" width="20"> -->
                </span>

              </div>
              <!-- <span class="form-error" *ngIf="((!edate.pristine || formSubmitted) && !validateDate())">End
                date is required</span> -->
            </div>
          </div>
        </div>
        <!--  -->
        <div class="row m-t-40">
          <div class="col-md-10">
            <h4 class="title-7 title-blue">Media Images</h4>
          </div>
          <div class="col-md-2">
            <div>
              <img src="assets/images/Plus-Icon.svg" height="40" width="40" class="img_plus m-l-40" (click)="addMediaFile()">
            </div>
            <!-- <button type="button" class="btn add color-grey set_align border-grey m-l-40 form-border" (click)="addMediaFile()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button> -->
          </div>
        </div>
        <!--  -->
        <div class="row m-t-15" *ngFor="let type of mediaFileList; let i=index">
          <div class="col-md-11">
            <div>
              <input type="text" placeholder="Enter a media URL" class="form-control" name="imageUrl-{{type.index}}"
                required [(ngModel)]="mediaFileList[i].url">
            </div>
          </div>
          <div class="col-md-1">
            <div class="">
              <button type="button" class="btn delete_btn" (click)="removeMediaFile(i)" *ngIf="i>0">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <!--  -->

        <div class="row">
          <div class="col-md-12">
            <h4 class="title-7 m-b-20 m-t-30" style="color:red">Interfaces</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
              <input type="checkbox" name="isIntranet" [(ngModel)]="isIntranet">
              <span class="au-checkmark custom_checkbox"></span>
              <span class="m-l-30">Intranet</span>
            </label>

            <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
              <input type="checkbox" name="isCustomerWebsite" [(ngModel)]="isCustomerWebsite">
              <span class="au-checkmark custom_checkbox"></span>
              <span class="m-l-30">Customer website</span>
            </label>

            <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
              <input type="checkbox" name="isPortBooking" [(ngModel)]="isPortBooking">
              <span class="au-checkmark custom_checkbox"></span>
              <span class="m-l-30"> Port Booking</span>
            </label>

            <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
              <input type="checkbox" name="isReservationSoftware" [(ngModel)]="isReservationSoftware">
              <span class="au-checkmark custom_checkbox"></span>
              <span class="m-l-30">Reservation software</span>
            </label>
          </div>
        </div>
        <!--  -->
      </div>
      <!--  -->
      <!-- Step 2 start from here -->
      <!--  -->
      <div class="row">
        <div class="col-md-12">
          <h4 class="title-7 m-b-20 m-t-30" style="color:red">Booking Instructions</h4>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="col-md-12">
          <div>
            <input type="text" placeholder="Enter menu" class="form-control" name="descEditor" [(ngModel)]="description">
          </div>
        </div>
      </div>

      <!--  -->
      <div class="row ">
        <div class="col-md-12">
          <h4 class="title-7 m-b-20 m-t-30" style="color:red">Status</h4>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-12">
          <div class="form-group">
            <span>
              <label class="pointer form_caption m-b-10 display-inline-blk p-r-30">
                <input type="radio" id="test1" name="radio-group" value="ACTIVE" [(ngModel)]="status">
                <label for="test1">Active</label>
              </label>
            </span>
            <span>
              <label class="pointer form_caption m-b-10 display-inline-blk p-r-30">
                <input type="radio" name="radio-group" id="test2" value="INACTIVE" [(ngModel)]="status">
                <label for="test2">Inactive</label>
              </label>
            </span>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="m-t-40 text-center">
        <button type="button" class="btn btn-prime m-r-30" (click)="onAddMealToList()">
          {{saveMealMsg}}</button>
        <button type="button" class="btn btn-prime btn-black" (click)="onClearMealData()">
          CLEAR
        </button>
      </div>
    </form>
  </div>
</section>
<!--  -->
<!-- added meal list -->
<section>
  <div class="container" *ngIf="addedMealList && addedMealList.length !== 0">
    <div class="row m-t-30">
      <div class="col-md-12">
        <div class="table-responsive table-responsive-data2">
          <table class="table table-data2 form-border">
            <thead>
              <tr class="table_header">
                <th>#</th>
                <th>Meal</th>
                <th>Avg Duration</th>
                <th>Price Per Person</th>

                <th>Cancellation Fees</th>
                <th>Reservation Required?</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody class="tableList" *ngFor="let row of addedMealList let no=index;">
              <tr class="tr-shadow">

                <td>{{no+1}}</td>
                <td>{{row.mealName? row.mealName:""}}</td>
                <td>{{row.avgDuration? row.avgDuration:"0"}}</td>
                <td>{{row.pricePerPerson? row.pricePerPerson:"0"}}</td>

                <td>{{row.cancellationFees? row.cancellationFees:"0"}}</td>
                <td>{{row.reservationRequired? "Y":"N"}}</td>
                <td>
                  <div class="table-data-feature action">
                    <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                      <i class="fa fa-edit" (click)="updateMealDetails(row,no)"></i>
                    </button>
                    <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteAddedMealFromList(no)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="m-t-40 text-center">
  <button type="button" class="btn btn-prime m-r-20" (click)="goBackTODiningScreen()">Back</button>
</div>
<!--  -->

<div class="m-t-20"></div>