<div>
  <app-alert titleText="{{alert.title}}" message="{{alert.message}}" *ngIf="isShowAlert"></app-alert>
  <!-- BREADCRUMB-->
  <section class="p-b-10 p-t-20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="au-breadcrumb-content">
            <div class="au-breadcrumb-left">
              <div class="title-5">Onboard Restaurants</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-t-20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="table-data__tool">
            <div class="table-data__tool-right set_margin">
              <!-- <span class="pointer m-r-10" (click)="refresh()">
                <i class="fa fa-refresh"></i> Refresh
              </span> -->
              <button type="button" class="btn btn-prime" (click)="filterSelection(filterTemplate)">
                Filter
              </button>
              <button type="button" class="btn btn-prime" (click)="clearFilter()">
                Clear Filter
              </button>
            </div>

          </div>

          <!-- table restaurant -->
          <div class="table-responsive table-responsive-data2">
            <table class="table table-data2 booking_modify">
              <thead>
                <tr class="table_header">
                  <th>ID</th>
                  <th>Restaurant Name</th>
                  <th>Opening Time</th>
                  <th>Closing Time</th>

                  <th>No. of Tables</th>
                  <th>Total Capacity</th>
                  <!-- <th>Status</th> -->
                  <!-- <th style="padding-right: 35px;">Action</th> -->
                  <th>Action</th>

                </tr>
              </thead>
              <tbody class="tableList">
                <tr class="tr-shadow" *ngFor="let row of diningList | paginate: {itemsPerPage: noOfItems, currentPage: currPage}; let no=index;">
                  <td><span>DN00{{row.id ? row.id : ""}}</span></td>
                  <td>{{row.restaurantName ? row.restaurantName : ""}}</td>
                  <td>{{row.openingTime ? row.openingTime: ""}}</td>
                  <td>{{row.closingTime ? row.closingTime : ""}}</td>
                  <td>{{row.diningTables? row.diningTables.length:0 }}</td>
                  <td>{{row.diningTables? getCapacity(row.diningTables): 0}}</td>

                  <td>
                    <div class="table-data-feature action">
                      <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="fa fa-edit" (click)="gotoEditDinig(row)"></i>
                      </button>
                      <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" (click)="showConfirmDeleteDialog(row.id,deleteDialogTemplate)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                  <!-- <td>{{row.closingTime ? (row.closingTime| date:'h:mm ') : ""}}</td> -->

                  <!-- <td>{{row.activeDuration && row.activeDuration.startDate ? (row.activeDuration.startDate | date) :
                    ""}}</td>
                  <td>{{row.activeDuration && row.activeDuration.endDate ? (row.activeDuration.endDate | date) : ""}}</td> -->
                  <!-- <td>
                    <span class="set_padding" [ngClass]="{'block-mail':row.status=='ACTIVE','block-status-inactive':row.status=='INACTIVE'}">
                      {{row.status ? row.status=='ACTIVE' ? 'Active': row.status=='INACTIVE'? 'Inactive' : '':''}}
                    </span>
                  </td> -->


                </tr>
                <tr class="spacer"></tr>
              </tbody>
            </table>
            <pagination-controls class="pull-right p-t-5 .pagination-text-size" (pageChange)="currPage = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #deleteDialogTemplate>
  <div class="modal-content">
    <div class="modal-body">
      <div class="text-center">
        <img src="assets/images/delete_icon.svg" width="75" height="75">
      </div>

      <div class="m-t-20 text-center">
        Are you sure you want to delete the dining?
      </div>
      <div class="modal-header text-center">
      </div>
      <div class="m-t-20 text-center">
        <button type="button" class="btn btn-prime btn-black m-r-10" (click)="deleteConfrimDialog.hide()">
          Cancel</button>
        <button type="button" class="btn btn-prime" (click)="deleteSelectedDining()">
          Delete</button>
      </div>
    </div>
  </div>
</ng-template>