<app-alert titleText="{{alert.title}}" message="{{alert.message}}" *ngIf="isShowAlert"></app-alert>
<div>
  <!-- BREADCRUMB-->

  <section class="p-b-10 p-t-20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- <tabset type="pills"> -->
          <tabset #diningTabs>
            <tab heading="Restaurant List" id="tab1">
              <app-list-of-dining (selectedDiningDataEmitter)="gotoEditDining($event)"
              [reloadList]="isRefreshList"
              (select)="selectTab(1)"></app-list-of-dining>
            </tab>
            <tab heading="Add new Restaurant">
              <app-add-new-dining [updateDiningDetails]="updateDiningData" 
              (resetTab)="resetTab()"
              (notify)="showNotification($event)"
              (select)="selectTab(2)"></app-add-new-dining>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </section>
</div>