<app-alert titleText="{{alert.title}}" message="{{alert.message}}" *ngIf="isShowAlert"></app-alert>
<section id="traveller_pricing" class="modal-body">
  <div class="container">
    <div class="modal-header">
      <!-- <h4 class="modal-title pull-left">{{title}}</h4> -->
      <h4 class="modal-title pull-left">Travellers & Pricing</h4>
      <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button> -->
    </div>
    <!--  -->
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive table-responsive-data2">
            <table class="table table-data1 form-border booking_modify">
              <thead>
                <tr class="table_header">
                  <th>#</th>
                  <th>CABIN</th>
                  <th>NAME</th>
                  <th>GROUP</th>
                  <th>AGE</th>
                  <th>HEIGHT(INCH)</th>
                  <th>WEIGHT(KG)</th>
                  <th>PRICE</th>
                </tr>
              </thead>
              <tbody class="tableList">
                <tr class="tr-shadow" *ngFor="let data of travellerData; let rowIndex = index">
                  <td>{{rowIndex+1}}</td>
                  <td>{{data.cabin || ""}}</td>
                  <td>{{data.firstName + " "+ data.lastName || ""}}</td>
                  <td>{{data.age ? (data.age > 13 ? "Adult" : "Child") : ""}}</td>
                  <td>{{data.age || ""}}</td>
                  <td>{{data.height || ""}}</td>
                  <td>{{data.weight || ""}}</td>
                  <td>${{data.isChild ? childPrice.toFixed(2):adultPrice.toFixed(2)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="row m-t-20 m-0 ">
        <div class="col-md-7 p-l-0 m-t-20">
          <!-- <div class="m-t-20 m-b-20">
            <div class="row">
              <div class="col-md-6 caption">
                Total Tickets: <span> {{noOfTickets}}</span>
              </div>

              <div class="col-md-6 caption float-right text-right">
                Total Amount: <span> ${{totalAmt}}</span>
              </div>
            </div>
          </div> -->
          <div class=" form-border p-l-20 p-t-10 p-r-20 p-b-10">
            <div class=" red-font m-b-10"><b>Discount details:</b></div>
            <div class="row m-b-5">
              <div class="col-md-6 ">
               <label class="p-t-10">
               <input type="radio"  id="discount" name="radio-group" (change)="selectBookOptions('cent')"
                    (click)="isDiscountDisable()">
                 <label for="discount"> Discount (%)</label></label>
              </div>
              <div class="col-md-6">
                <input type="number" class="form-control" name="discount" min="0" max="100" [(ngModel)]="discountCent"
                  disabled={{isDiscount}} (input)="calculateDiscount($event.target.value)" #discountValue>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label  class="p-t-10"><input type="radio" id="discountAmount" name="radio-group" (change)="selectBookOptions('discountVal')"
                    (click)="isDicountAmountDisable()">
                  <label for="discountAmount">Discount Amount</label></label>
              </div>
              <div class="col-md-6"><input type="text" class="form-control" name="discountVal" [(ngModel)]="discountVal"
                  (input)="calculateDiscount($event.target.value)" disabled={{isDiscountAmount}} #discountAmount></div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label class="p-t-10"><input type="radio" name="radio-group"  id="salePrice" (change)="selectBookOptions('sale')"
                    (click)="isSalePriceDisable()">
                  <label for="salePrice">Sale price</label></label>
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" name="salePrice" [(ngModel)]="salePrice" disabled={{isSalePrice}}
                  (input)="calculateDiscount($event.target.value)" #salePriceVal></div>
            </div>

            <div>
              <div class="m-t-10">Comment/Reason</div>
              <div class="m-t-10"><textarea cols="20" rows="3" class="form-control" name="comments" [(ngModel)]="comments"></textarea></div>
            </div>
          </div>
        </div>
        <!-- col left side end here -->
        <div class="col-md-5 m-t-20">
          <div >
          <table width="100%">
            <tr>
              <td class="text-right">Amount:</td>
              <td class="text-right total_valuetd"> ${{totalAmt.toFixed(2)}}</td>
            </tr>
            <tr class="total_hrline">
              <td class="text-right">(-)Discount:</td>
              <td class="text-right total_valuetd">${{discountedPrice.toFixed(2)}}
                </td>
            </tr>
            <tr>
              <td class="text-right">Total Amount: </td>
              <td class="text-right total_valuetd">${{amounttoPayAfterDiscount.toFixed(2)}}</td>
            </tr>
          </table>
        </div>
          <!-- <div class="row float:right">
            <div class="col-md-4 m_t_5">
              <div>Amount:<span class="count_cont">${{totalAmt.toFixed(2)}}</span></div>
            </div>
          
           <div class="col-md-2"></div>
         
            <div class="col-md-6 p-l-25">
              <div>(-)Discount:<span class="count_cont">${{discountedPrice.toFixed(2)}}</span></div>
            </div>
          </div> -->
         
          <hr>

          <!-- <div class="row">
            <div class="col m_t_5">
              <div>Total Amount:<span class="count_cont">${{amounttoPayAfterDiscount.toFixed(2)}}</span></div>
            </div>
          </div> -->
        
          <div class=" red-font m-b-10"><b>Payment Mode:</b></div>
          <div class="row m-t-10">
            <div class="col-md-12">
              <button type="button" class="btn charge_cabin full-width" (click)="selectPayModeCash('CASH')" [ngClass]="{ 'btn_select': btnCaseSelected, 'btn_notselect': !btnCaseSelected  }">
                <span class="btn_img"><img src="assets/images/cash_icon.svg" height="20" width="20"></span>
                Cash</button>



            </div>
          </div>
          <div class="row m-t-10">
            <div class="col-md-12">
              <!-- <button type="button" class="btn  charge_cabin full-width" (click)="selectPayMode('CHARGETOCABIN')"> 
               <span class="btn_img"><img src="assets/images/cabin_icon.svg" height="20" width="20"> </span>
                Charge to cabin</button> -->
              <button type="button" class="btn charge_cabin full-width" (click)="selectPayModeCabin('CHARGETOCABIN')"
                [ngClass]="{ 'btn_select': btnCabinSelected, 'btn_notselect': !btnCabinSelected  }">
                <span class="btn_img"><img src="assets/images/cabin_icon.svg" height="20" width="20"></span>
                Charge Card</button>
            </div>
          </div>
          <!--  -->

          <div class="row m-t-50">
            <div class="col-md-6">
              <button type="button" class="btn btn-prime btn-black" (click)="bookExcursion()">
                Confirm</button>
            </div>

            <div class="col-md-6">
              <button type="button" class="btn btn-prime" (click)="bsModalRef.hide()">
                {{closeBtnName}}</button>
            </div>
          </div>
        </div>
        <!-- right end here -->
      </div>
    </div>
  </div>
</section>