.modal-dialog {
    max-width: 750px !important;
}
section#traveller_pricing.modal-body{    padding-left: 0px;
    padding-right: 0px;}
section#traveller_pricing .modal-header{ margin-bottom: 10px; padding: 0px;}
section#traveller_pricing h4{ width: 100%;
    float: none;
    text-align: center;     margin-bottom: 15px;}
.m-0{ margin: 0 !important;}
section#traveller_pricing input[type="text"]{
    font-weight: 400;
    /* background: #FFFFFF; */
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
}
/* section#traveller_pricing label{
    line-height: 40px;
} */
.btn_select{
    background-color: #1BB934;
}
.btn_notselect{
    background-color: #5D6065;
}
button.payment_cash, button.charge_cabin{
    /* background-color: #5D6065; */
    font-weight: 500;
font-size: 16px;
color: #FFFFFF;
text-align: left;
}
button.payment_cash .btn_img, button.charge_cabin .btn_img{margin-right: 15px;}
button.payment_cash .btn_img img, button.charge_cabin .btn_img img{  width: 30px; height: auto; }

section#traveller_pricing .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    font-weight: 400;
    font-size: 14px;
    text-shadow: none;
    font-weight: normal;
    color: #354052;
}
.caption{font-weight: 400; font-size: 16px; color: #354052; font-weight: normal;}
.caption span{font-weight: 400; font-size: 22px; color: #354052; font-weight: normal;}
.topictitle{ font-weight: 500; font-size: 16px; color: #354052; font-weight: normal;}
.formcaption{font-weight: 400; font-size: 15px; color: #354052; font-weight: normal;}

.modal-dialog {
    max-width: 1000px !important;
}
/* .modal-dialog.modal-lg{
    width: 900px;
} */
/* .btn-prime {
    width: 140px !important;
    height: 40px !important;
    text-transform: uppercase;
    font-size: 13px;
} */
.total_valuetd{padding: 0 0.75rem 0 0;}
.total_hrline{border-bottom:1px solid #ddd;}
/* .table-data2.table.booking_modify tbody tr td:first-child {vertical-align: middle !important;} */