<app-alert titleText="{{alert.title}}" message="{{alert.message}}" *ngIf="isShowAlert"></app-alert>
<!-- <button class="waiting m-b-10 m-t-10 m-l-20">Waiting</button> -->
<div class="container">
  <section id="bookingdetail" class="m-t-20">
    <div class="detailtable">
      <div class="row">
        <div class="col-xl-4 col-lg-4 detailtab_vrline">
          <div class="table_container">
            <h3>Traveler Details</h3>
            <div class="travallersdetail">
              <div class="caption">Adult:<span class="m-l-35" *ngIf="adultList.length==0">-</span></div>
              <ul>
                <li *ngFor="let row of adultList let no=index;">
                  {{row}}
                </li>
              </ul>
            </div>
            <div class="travallersdetail">
              <div class="caption">Child:<span class="m-l-35" *ngIf="childList.length==0">-</span></div>
              <ul>
                <li *ngFor="let row of childList let no=index;">
                  {{row}}
                </li>
              </ul>
            </div>
            <h4>Total:<span class="p-l-5">{{travellerList.length}} Travallers(s)</span></h4>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 detailtab_vrline">
          <div class="table_container pricingtablewidth">
            <h3>Pricing Details</h3>
            <div class="travallersdetail m_t_5">
              <div class="caption">Adult:</div>
              <div class="count_cont">{{totalAdultCount}} x ${{adultTicketPrice}}</div>
              <div class="isequal">=</div>
              <div class="total_count">${{totalAdultAmount}} </div>
            </div>


            <div class="travallersdetail m_t_5">
              <div class="caption">Child:</div>
              <div class="count_cont">{{totalChildCount}} x ${{childTicketPrice}}</div>
              <div class="isequal">=</div>
              <div class="total_count">${{totalChildAmount}}</div>
            </div>
            <div class="hr_total"></div>
            <div class="totalammount">${{totalAmountToPay}}</div>
            <!-- <div class="discount set_align">{{discountTitleToDisplay}}</div> -->
            <div class="discount">{{discountTitleToDisplay}}</div>
            <div class="hr_total float-left"></div>
            <div>
              <span class="pricingtotal float-left">Total</span>
              <span class="pricingtotal float-right">${{finalAmountToPay}} </span> </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-4 ">
          <div class="payment_container">
            <div class="paymentmode">Payment mode:
              <span><img src="assets/images/cash.svg" [hidden]="!isCashMode"></span>
              <span><img src="assets/images/charge_to_cabin_latest.svg" [hidden]="isCashMode"></span></div>

            <button class="modifybooking" (click)="showEditBookingDialog(modifyTemplate)">Modify Booking</button>
            <button class="cancelbooking" (click)="showConfirmCancelDialog(deleteDialogTemplate)">Cancel Booking</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="bookingmap">
    <div class="row">
      <div class="col-xl-4 col-lg-4 ">
        <!-- <img src="../../assets/images/mapimg.png"> -->
        <img src={{excursionImageUrl}}>
      </div>
      <div class="col-xl-8 col-lg-8 ">
        <div class="bookingmap_content">

          <h3>{{ bookExcursionDetails.name ? bookExcursionDetails.name : ""}}</h3>
          <h4 class="float-left">By:<span>{{bookExcursionDetails.vendor? bookExcursionDetails.vendor:""}}</span></h4>
          <h4 class="float-right">Starts at:<span>{{bookingDetails.travelDate ?
              (bookingDetails.travelDate | date) :""}}</span></h4>
          <div class="clearfix"></div>
          <h4 class="float-left">Duration:
            <span>{{bookExcursionDetails.duration?bookExcursionDetails.duration:""}} Minutes</span></h4>
          <h4 class="float-right">Time:<span>{{bookExcursionDetails.startTime ?
              bookExcursionDetails.startTime.slice(0,-3) :""}}</span></h4>
          <div class="clearfix"></div>
          <p>{{description}}</p>
        </div>
      </div>
    </div>
  </section>

  <section id="pricingrules" class="m-t-10">
    <h3 class="rules_margin">Inclusions</h3>

    <section id="bookingdetail">
      <div class="detailtable">
        <div class="row">
          <div class="col-xl-12 col-lg-12 ">
            <ul class="m-t-5">
              <li *ngFor="let rules of inclusionsContent" class="p-t-10">{{rules}}</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <div class="m-t-20">
      <h3>Exclusions</h3>
      <section id="bookingdetail">
          <div class="detailtable">
            <div class="row">
              <div class="col-xl-12 col-lg-12 ">
                <ul class="m-t-5">
                  <li *ngFor="let rules of exclusionsContent" class="p-t-10">{{rules}}</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      <!-- <ul>
        <li *ngFor="let rules of exclusionsContent">{{rules}}</li>
      </ul> -->
    </div>

    <div class="m-t-20">
    <h3>Instructions</h3>
    <section id="bookingdetail">
      <div class="detailtable">
        <div class="row">
          <div class="col-xl-12 col-lg-12 ">
            <ul class="m-t-5">
              <li *ngFor="let rules of instructionsContent" class="p-t-10"><p>{{rules}}</p></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  </section>

  <div class="row m-t-20">
    <div class="col-12 text-center m_b_10">
      <button class="goback" (click)="backClicked()">GO BACK</button>
      <button class="print">Print</button>
    </div>
  </div>

</div>


<ng-template #modifyTemplate>
  <section id="traveller_pricing" class="modal-body p-l-5 p-r-5">
    <div class="container">
      <div class="modal-header">
        <!-- <h4 class="modal-title pull-left">{{title}}</h4> -->
        <h4 class="modal-title pull-left">Travellers & Pricing</h4>
        <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <!--  -->
      <div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive table-responsive-data2">
              <form class="form_wrapper">
                <table class="table table-data2 form-border booking_modify">
                  <thead>
                    <tr class="table_header">
                      <th>#</th>
                      <!-- <th>Excursion Name</th> -->
                      <th>Cabin</th>
                      <th>Type</th>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Height (INCH)</th>
                      <th>Weight (KG)</th>
                      <th>Price</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody class="tableList" *ngFor="let row of bookedTravellerList let no=index;">

                    <tr class="tr-shadow">

                      <!-- <td>{{row.id ? row.id : ""}}</td> -->
                      <td>{{no+1}}</td>
                      <td>{{row.traveller.cabin ? row.traveller.cabin : ""}}</td>
                      <td>{{row.traveller.isChild ? 'Child' : 'Adult'}}</td>
                      <td>{{row.traveller.firstName + " " + row.traveller.lastName}}</td>
                      <td>{{row.traveller.age ? row.traveller.age :""}}</td>
                      <td><input type="number" [value]="row.traveller.height ? row.traveller.height : ''" [disabled]="row.isDisabled"
                          (change)="editHeightValue($event,no)" [ngClass]="!row.isDisabled ? 'disabled_row':''"></td>
                      <td><input type="number" [value]="row.traveller.weight ? row.traveller.weight : ''" [disabled]="row.isDisabled"
                          (change)="editWeightValue($event,no)" [ngClass]="!row.isDisabled ? 'disabled_row':''"></td>
                      <td>${{row.price ? row.price.toFixed(2) : ''}}</td>

                      <td>
                        <div class="table-data-feature action set_margin">
                          <button class="item" data-toggle="tooltip" data-placement="top" title="Edit" (click)="editTraveller(no)">
                            <i class="fa fa-edit" [hidden]="!row.isDisabled"></i>
                            <img src="assets/images/save-file-option.svg" [hidden]="row.isDisabled">
                          </button>

                          <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteTravellerDialog(no,deleteTravellerDialogTemplate)">
                            <i class="fa fa-trash" [ngClass]="bookedTravellerList.length==1 ? 'delete_disabled':''"></i>
                          </button>
                        </div>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>
      <section id="bookingdetail">
        <div class="detailtable">
          <div class="row m-t-20">
            <div class="col-xl-4 col-lg-4 detailtab_vrline set_padding">
              <div class="table_container  travel_pricing_modal">
                <h3>Orignal</h3>
                <div class="travallersdetail_template m_t_5">
                  <div class="caption caption_width">Adult:</div>
                  <div class="count_cont">{{totalAdultCount}} x ${{adultTicketPrice}}</div>
                  <div class="isequal">=</div>
                  <div class="total_count_template">${{totalAdultAmount}}</div>
                </div>

                <div class="travallersdetail_template m_t_5">
                  <div class="caption caption_width">Child:</div>
                  <div class="count_cont">{{totalChildCount}} x ${{childTicketPrice}}</div>
                  <div class="isequal">=</div>
                  <div class="total_count_template">${{totalChildAmount}}</div>
                </div>
                <div class="hr_total_template"></div>
                <div class="totalammount_template">${{totalAmountToPay}}</div>
                <div class="discount_template">{{discountTitleToDisplay}}</div>
                <div class="hr_total_template float-left"></div>
                <div>
                  <span class="pricingtotal_template float-left">Total</span>
                  <span class="pricingtotal_template float-right">${{finalAmountToPay}}</span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 detailtab_vrline">
              <div class="table_container  travel_pricing_modal">
                <h3>Revised</h3>
                <div class="travallersdetail_template m_t_5">
                  <div class="caption">Adult:</div>
                  <div class="count_cont">{{revTotalAdultCount}} x ${{adultTicketPrice}}</div>
                  <div class="isequal">=</div>
                  <div class="total_count_template">${{revTotalAdultAmount}}</div>
                </div>


                <div class="travallersdetail_template m_t_5">
                  <div class="caption">Child:</div>
                  <div class="count_cont">{{revTotalChildCount}} x ${{childTicketPrice}}</div>
                  <div class="isequal">=</div>
                  <div class="total_count_template">${{revTotalChildAmount}}</div>
                </div>
                <div class="hr_total_template"></div>
                <div class="totalammount_template">${{revTotalAmountToPay}}</div>
                <div class="discount_template">{{revDiscountTitleToDisplay}}</div>
                <div class="hr_total_template float-left"></div>
                <div>
                  <span class="pricingtotal_template float-left">Total</span>
                  <span class="pricingtotal_template float-right">${{revFinalAmountToPay}} </span>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 ">



              <div class="table_container travel_pricing_modal">
                <h3>Difference</h3>
                <div *ngIf="isRecordDeleted; then change else notChange"></div>

                <ng-template #notChange>
                  <div class="caption_content">No Changes</div>
                </ng-template>

                <ng-template #change>
                  <div class="travallersdetail_template m_t_5">
                    <div class="difference_caption">
                      <h3>${{changeAmountMsg.toFixed(2)}} in credit</h3>
                    </div>
                  </div>

                  <div class="travallersdetail_template m_t_5">
                    <div class="difference_caption_width">Cabin:</div>
                    <div class="count_cont" style="margin-left:-14px;">
                        <ul *ngFor="let message of unique_array let no=index" type="none">
                            <li class="m-r-5">{{message}} 
                                <ul type="none" *ngIf ="no>0">
                                  <li>,</li>
                                </ul>
                            </li>
                          </ul>
                    </div>
                  </div>
                  <div class="travallersdetail_template m_t_5">
                    <div class="difference_caption_width set_width">Removed as follow:</div>
                    <div class="caption_content">
                      <ul *ngFor="let message of changeMessage">
                      <li style="margin-left:18px;">{{message}}</li>
                    </ul>
                    </div>
                  </div>
                </ng-template>

              </div>

            </div>
          </div>
          <div class="row m-t-10">
            <div class="col-12 text-center m_b_10">
              <!-- <button class="Update" (click)="updateBooking()">Save</button>
              <button class="cancel" (click)="bsModalRef.hide()">Cancel</button> -->
              <!-- <button class="btn btn-prime m-r-20" (click)="updateBooking()">Save</button> -->
              <button class="btn btn-prime m-r-20" (click)="updateTravellerAndBooking()">Save</button>
              <button class="btn btn-prime btn-black " (click)="bsModalRef.hide()">Cancel</button>

            </div>
          </div>

        </div>
      </section>




      <!-- right end here -->
    </div>
    <!-- </div>
    </div> -->
  </section>
</ng-template>


<ng-template #deleteDialogTemplate>
  <div class="modal-content">
    <div class="modal-body">
      <div class="text-center">
        <img src="assets/images/delete_icon.svg" width="75" height="75">
      </div>

      <div class="m-t-20 text-center">

        Are you sure want to cancel it?
      </div>
      <div class="modal-header text-center">
      </div>
      <div class="m-t-20 text-center">
        <button type="button" class="btn btn-prime btn-black m-r-10" (click)="bsModalRef.hide()">
          Cancel</button>
        <button type="button" class="btn btn-prime" (click)="cancelSelectedBooking()">
          Delete</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteTravellerDialogTemplate>
  <div class="modal-content">
    <div class="modal-body">
      <div class="text-center">
        <img src="assets/images/delete_icon.svg" width="75" height="75">
      </div>

      <div class="m-t-20 text-center">

          Are you sure you want to cancel the reservation?
      </div>
      <div class="modal-header text-center">
      </div>
      <div class="m-t-20 text-center">
        <button type="button" class="btn btn-prime btn-black m-r-10" (click)="bsTravellerDelete.hide()">
          Cancel</button>
        <button type="button" class="btn btn-prime" (click)="deleteSelectedTraveller()">
          Delete</button>
      </div>
    </div>
  </div>
</ng-template>