<section>
  <div class="m-lr-50">
    <div class="row">
      <div class="col-md-12">

        <h3 class="title-5 m-b-35 m-t-30">New Rule</h3>


        <div class="text-center  m-t-20">
          <div class="display-inline-blk step-circle {{currentSelected == 'first' ? 'active': ''}}">1</div>
          <div class="display-inline-blk step-line"></div>
          <div class="display-inline-blk step-circle {{currentSelected=='second' ? 'active': ''}}">2</div>
          <div class="display-inline-blk step-line"></div>
          <div class="display-inline-blk step-circle {{currentSelected=='third' ? 'active': ''}}">3</div>
        </div>
      </div>
    </div>
  </div>
  <form #discountForm="ngForm" (ngSubmit)="saveDiscountDetail(discountForm)">
    <div *ngIf="currentSelected=='first'" class="m-lr-30 step1_width">
      <div class="row m-t-50">
        <div class="col-md-2">
          <span class="form_caption m-b-10 "><b>Discount Rule Name</b></span>
        </div>
        <div class="col-md-4">
          <span>
            <input type="text" class="form-control" name="discountRule" [(ngModel)]="discountRuleName" required
              maxlength="300" #name="ngModel">
          </span>
        </div>
      </div>
      <div class="row m-t-50">
        <div class="col-md-2">
          <span class="form_caption m-b-10"><b>Description</b></span>
        </div>
        <div class="col-md-4">
          <textarea cols="20" rows="3" class="form-control" name="comments" [(ngModel)]="description"></textarea>
        </div>
      </div>
      <div class="row m-t-50">
        <div class="col-md-2">
          <span class="form_caption m-b-10"><b>status</b></span>
        </div>

        <div class="col-md-4">
          <div dropdown class="drop-div">
            <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{selectedStatus}}</button>

            <ul *dropdownMenu class="dropdown-menu">
              <ng-container *ngFor="let status of statusGroup; let i=index">
                <li (click)="onStatusChange(status)">
                  <span class="dropdown-item pointer">{{status}}</span>
                </li>
                <li class="divider dropdown-divider" *ngIf="i !== statusGroup.length-1"></li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>

      <div class="row m-t-50">
        <div class="col-md-2">
          <span class="form_caption m-b-10"><b>Applicable to</b></span>

        </div>
        <div class="col-md-4" id="applicable_rule">
          <div class="row p-l-5">
            <div class="col-md-3 m-l-5 m-b-10 set_height set_border">
              <span class="form_caption">All</span>
            </div>
            <div class="col-md-3 m-l-10 m-b-10 set_height set_border">
              <span class="form_caption">Excursion</span>
            </div>
            <div class="col-md-3 m-l-10 m-b-10 set_height set_border">
              <span class="form_caption">Dining</span>
            </div>
          </div>
          <div class="row p-l-5">
            <div class="col-md-3 m-l-5 m-b-10 set_border">
              <span class="form_caption">Spa</span>
            </div>
            <div class="col-md-3 m-l-10 m-b-10 set_border">
              <span class="form_caption">
                Internet Packages</span>
            </div>
            <div class="col-md-3 m-l-10 m-b-10 set_border">
              <span class="form_caption">+ few more</span>
            </div>
          </div>

        </div>

      </div>
      <div class="row m-t-50">
        <div class="col-md-2">
          <span class="form_caption m-b-10"><b>From Date</b></span>
        </div>
        <div class="excursionRow position-relative">
          <input bsDatepicker #fromDp="bsDatepicker" type="text" class="form-control display-inline-blk" [bsConfig]="dpConfig"
            name="startDate" [(ngModel)]="fromDate" #fdate="ngModel">
          <span class="display-inline-blk duration pointer p-t-10 position-absolute right-0" (click)="fromDp.show()">
            <i class="fa fa-calendar"></i>


          </span>

        </div>
      </div>
      <div class="row m-t-50">
        <div class="col-md-2">
          <span class="form_caption m-b-10"><b>To Date</b></span>
        </div>
        <div class="excursionRow position-relative">
          <input bsDatepicker #toDp="bsDatepicker" type="text" class="form-control display-inline-blk" [bsConfig]="dpConfig"
            name="startDate" [(ngModel)]="toDate" #sdate="ngModel">
          <span class="display-inline-blk duration pointer p-t-10 position-absolute right-0" (click)="toDp.show()">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="currentSelected=='second'" class="m-lr-30 step1_width">
      <div class="row m-t-50">

        <div class="col-md-5">
          <!-- <span class="m-l-30 form_caption">Applicable on already discounted product?</span> -->
          <span class="form_caption"><b>Applicable on already discounted product?</b></span>
        </div>
        <div class="col-md-1 p-l-0">
          <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
            <input type="checkbox" name="insurance" [(ngModel)]="isDiscountProduct">
            <span class="au-checkmark custom_checkbox" style="top:-3px;"></span>

          </label>
        </div>

      </div>
      <div class="row m-t-10">

        <div class="col-md-5">
          <!-- <span class="m-l-30 form_caption">Applicable on already discounted product?</span> -->
          <span class="form_caption"><b>Multiple usage allowed?</b></span>
        </div>
        <div class="col-md-1 p-l-0">
          <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
            <input type="checkbox" name="insurance" [(ngModel)]="isAllowMultiple">
            <span class="au-checkmark custom_checkbox" style="top:-3px;"></span>

          </label>
        </div>

      </div>

      <div class="row m-t-30">
        <div class="col-md-2">
          <span class="form_caption m-t-10 "><b>Excluded:</b></span>
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control" name="exclud" [(ngModel)]="excludedName" required maxlength="300"
            #name="ngModel">
        </div>
        <div class="col-md-1">
          <span><button type="button" class="btn btn-prime">Search</button></span>
        </div>
      </div>
      <div class="table-responsive table-responsive-data2 m-t-30">
        <table class="table table-data2 booking_modify table_width ">
          <thead>
            <tr class="table_header">
              <th>ID</th>
              <th>Type</th>
              <th>Product</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody class="tableList">
            <tr class="tr-shadow">
              <td>1</td>
              <td>Excursion</td>
              <td>Caribbean Scuba Diving</td>
              <td>Remove</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row m-t-30">
        <div class="col-md-2">
          <span class="form_caption m-b-10 "><b>Restricted to:</b></span>
        </div>
      </div>
      <div class="row m-t-20">
        <div class="col-md-3">


          <label class="pointer p-0 m-b-10 display-inline-blk  set_alignment">
            <input type="radio" name="categoryOfGuest" id="test2" [(ngModel)]="categoryOfGuest">
            <label for="test2" class="form_caption"><b>Guest Category</b></label>
          </label>
        </div>
        <div class="col-md-4 p-l-0">
          <div dropdown class="drop-div">
            <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{selectedCategory}}</button>

            <ul *dropdownMenu class="dropdown-menu">
              <ng-container *ngFor="let category of guestCategory; let i=index">
                <li (click)="onCategoryChange(category)">
                  <span class="dropdown-item pointer">{{category}}</span>
                </li>
                <li class="divider dropdown-divider" *ngIf="i !== guestCategory.length-1"></li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>

      <div class="row m-t-20">
        <div class="col-md-2">
          <label class="pointer m-b-10 display-inline-blk  set_alignment">
            <input type="radio" id="guest2" name="radio-group" [(ngModel)]="Guest">
            <label for="guest2" class="form_caption"><b>Guest</b></label>
          </label>
        </div>
        <div class="col-md-4 p-l-0">
          <input type="text" class="form-control" name="guest" [(ngModel)]="guestName" required maxlength="300"
            #name="ngModel">
        </div>
        <div class="col-md-1 p-l-0">
          <span><button type="button" class="btn btn-prime">Search</button></span>
        </div>

      </div>
      <div class="table-responsive table-responsive-data2 m-t-50">
        <table class="table table-data2 booking_modify table_width ">
          <thead>
            <tr class="table_header">
              <th>ID</th>
              <th>Customer ID</th>
              <th>Customer Name</th>

            </tr>
          </thead>
          <tbody class="tableList">
            <tr class="tr-shadow">
              <td>1</td>
              <td>ICC0934</td>
              <td>David Williams</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="currentSelected=='third'" class="m-lr-30 step1_width">
      <div class="row m-t-50">
        <div class="col-md-3" style="margin-right:-94px;">
          <label class="p-r-20 pointer  form_caption m-b-10 au-checkbox display-inline-blk">
            <input type="checkbox" name="discountCode" [(ngModel)]="isDiscountCode" (click)="selecteDiscountCodeGenerate()">
            <span class="au-checkmark custom_checkbox"></span>
            <span class="m-l-30 form_caption"><b>Discount Code</b> </span>
          </label>
        </div>
        <div class="col-md-4 p-l-0">
          <input type="text" class="form-control" name="discountCodeGenerate" [(ngModel)]="discountCode" required maxlength="300"
            #name="ngModel" [disabled]="isDiscountCodeGenerate">
        </div>
        <div class="col-md-1 p-l-0">
          <span><button type="button" class="btn btn-prime btn-prime-auto">Auto-generate</button></span>
        </div>
      </div>
      <div class="row m-t-50">
        <div class="col-md-2">
          <span class="form_caption m-t-10 "><b>Discount Amount:</b></span>
        </div>
        <div class="col-md-4 p-l-0">
          <input type="text" class="form-control" name="discountAmount" [(ngModel)]="discountAmount" required maxlength="300"
            #name="ngModel">
        </div>
        <div class="col-md-1 p-l-0">
          <div dropdown class="drop-div">
            <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{selectedCurrencyType}}</button>

            <ul *dropdownMenu class="dropdown-menu dropdown_width_100 m-0">
              <ng-container *ngFor="let currency of currencyList; let i=index">
                <li (click)="onCurrencyChange(currency)">
                  <span class="dropdown-item pointer">{{currency}}</span>
                </li>
                <li class="divider dropdown-divider" *ngIf="i !== currencyList.length-1"></li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="m-t-60 text-center">
      <button type="button" class="btn btn-prime m-r-30" *ngIf="currentSelected=='second' || currentSelected=='third'"
        (click)="selectButton2()">Back</button>
      <button type="button" class="btn btn-prime" *ngIf="currentSelected=='first' || currentSelected=='second'" (click)="selectButton1()">Next</button>

      <button type="submit" class="btn btn-prime" *ngIf="currentSelected =='third'">Save</button>
    </div>
  </form>
</section>
