.set_height{
    height:54px;
}
.set_border{
    border: 1px solid #DFE3E9;
    text-align:center;
}
.step1_width{
    width:80%;
    margin-left:30% !important;
}
/* .custom_checkbox{
    top:-3px;
} */
.table_width{
    width:60%;
    margin-left:5%;
}
.set_alignment{
    margin-left:65px;
    margin-top:8px;
}
.btn-prime-auto{
    width:118px !important;
}
