<div>
 <app-alert titleText="{{alert.title}}" message="{{alert.message}}" *ngIf="isShowAlert"></app-alert>
  <!-- BREADCRUMB-->
  <section class="p-b-10 p-t-20">
    <div class="container">

      <!-- <div class="row">
        <div class="col-md-2">
          <div dropdown class="drop-div">
            <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{selectedType}}</button>
            <ul *dropdownMenu class="dropdown-menu">
              <ng-container *ngFor="let type of bookingTypeList; let i=index">
                <li (click)="onBokingTypeChange(type)">
                  <span class="dropdown-item pointer">{{type}}</span>
                </li>
                <li class="divider dropdown-divider" *ngIf="i !== bookingTypeList.length-1"></li>
              </ng-container>
            </ul>
          </div>
        </div>
        <div class=" col-md-2">
          <button type="button" class="btn btn-prime" (click)="next()">
            Apply</button>
        </div>
      </div> -->
      <!--  -->

      <div class="row p-t-20">
        <div class="col-md-12">
          <div class="table-responsive table-responsive-data2">
            <table class="table table-data2 booking_modify">
              <thead>
                <tr class="table_header">
                  <!-- <th>
                    <label class="au-checkbox custom_checkbox">
                      <input type="checkbox" (change)="changeAllCheckboxSelection($event)">
                      <span class="au-checkmark"></span></label>
                  </th> -->
                  <th>ID</th>
                  <th>Excursion Name</th>
                  <th>Guest Name</th>
                  <th>Tickets</th>
                  <th>Booking Mode</th>
                  <th>Travel Date</th>
                  <th>Payment Mode</th>
                  <th>Amount</th>
                  <th>Cabin No</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="tableList" *ngFor="let row of bookingList | paginate: {itemsPerPage: noOfItems, currentPage: currPage};  let no=index;">
                <tr class="tr-shadow">
                  <!-- <td><label class="au-checkbox custom_checkbox">
                      <input type="checkbox" [(ngModel)]="bookingList[no].isSelected" (change)="travellerSelectionChange($event,no)">
                      <span class="au-checkmark"></span></label></td> -->

                  <td style="padding-top:36px">ICE00{{row.id ? row.id : ""}}</td>
                  <td>{{row.excursionName ? row.excursionName : ""}}</td>
                  <td>{{row.parentTravellerName ? row.parentTravellerName : ""}}</td>
                  <td>{{row.noOfTickets ? row.noOfTickets : ""}}</td>
                  <td>{{row.bookingMode ? row.bookingMode : ""}}</td>
                  <td>{{row.travelDate ? (row.travelDate | date) : ""}}</td>
                  <td>{{row.paymentMode ? row.paymentMode==='CHARGETOCABIN' ? 'Charge to cabin': 'Cash': ""}}</td>
                  <td>${{row.totalAmount ? row.totalAmount : "0"}}</td>
                  <!-- <td>{{cabinNumber? cabinNumber : ""}}</td> -->
                  <td>{{row.bookingUserPrices[0].traveller.cabin}}</td>
                  <td ><p class="set_padding" [ngClass]="row.isCancelled ? 'block-status-cancelled':'block-status-confirmed'">{{row.isCancelled ? 'Cancelled' : "Confirmed"}}</p></td>

                  <td>
                    <div class="table-data-feature action">
                      <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="fa fa-edit" (click)="editBooking(row)" [ngClass]="row.isCancelled ? 'edit_disabled':''"></i>
                      </button>
                      <button class="item" data-toggle="tooltip" data-placement="top" title="print" (click)="printBooking(row.id)">
                        <i class="fa fa-print"></i>
                      </button>
                      <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" 
                      (click)="showConfirmDeleteDialog(row.id,deleteDialogTemplate)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls class="pull-right p-t-5 .pagination-text-size"  (pageChange)="currPage = $event"></pagination-controls>
          </div>
        </div>
      </div>

      <!--  -->
    </div>
  </section>
</div>

<ng-template #deleteDialogTemplate>
  <div class="modal-content">

    <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button> -->

    <div class="modal-body">
      <div class="text-center">
        <img src="assets/images/delete_icon.svg" width="75" height="75">
      </div>

      <div class="m-t-20 text-center">
        
          Are you sure you want to cancel the reservation?
      </div>
      <div class="modal-header text-center">
      </div>
      <div class="m-t-20 text-center">
        <button type="button" class="btn btn-prime btn-black m-r-10" (click)="modalRef.hide()">
          Cancel</button>
        <button type="button" class="btn btn-prime" (click)="deleteSelectedBooking()">
          Delete</button>
      </div>
    </div>
  </div>
</ng-template>