.block-status-cancelled{
background-color:rgb(226, 223, 224);
}
.block-status-confirmed{
background-color: rgb(208, 230, 163);
}
.edit_disabled{
color:#f9f9f9 !important;
}
.set_padding{
    padding:5px 15px !important;
}
.set_align{
    padding-top:36px;
}