<app-alert titleText="{{alert.title}}" message="{{alert.message}}" *ngIf="isShowAlert"></app-alert>
<div>
  <div class="container p-t-20 excursionContainer">

    <tabset #excursionTabs>
      <tab heading="Excursion List" id="tab1" (select)="selectTab(1)">
        <app-excursion-list (edit)="editExcursion($event)" (notify)="showNotification($event)" [reloadList]="isRefreshList"
          [isAuthenticated]="isAuthenticated"></app-excursion-list>
      </tab>
      <tab heading="New Excursion" (select)="selectTab(2)" class="tab-font-color">
        <app-new-excursion [editData]="editData" [listTabActive]="listTabActive" (notify)="showNotification($event)"
          (resetTab)="resetTab()"></app-new-excursion>
      </tab>
    </tabset>
  </div>
</div>