

<div>
  <div class="container p-t-20 excursionContainer">
    <tabset #excursionTabs>
      <tab heading="Scan" >
        <app-scan-book> </app-scan-book></tab>
      <tab heading="Look up" >
        <app-look-up-book></app-look-up-book>
      </tab>
    </tabset>
  </div>
</div>