<div>
  <div class="container p-t-20 excursionContainer">

    <tabset #discountTabs>
      <tab heading="Discount List" id="tab1"  (select)="selectTab(1)">
        <app-discount-list></app-discount-list>
      </tab>
      <tab heading="Discount Detail"  class="tab-font-color"  (select)="selectTab(1)">
       <app-discount-detail></app-discount-detail>
      </tab>
    </tabset>
  </div>
</div>