<app-alert titleText="{{alert.title}}" message="{{alert.message}}" *ngIf="isShowAlert"></app-alert>
<div *ngIf="!needToShowAddMealComponent">
  <section class="p-t-20">
    <div class="container">
      <!-- <div class="row">
        <div class="col-md-12">
          <h3 class="title-5 m-b-35">Add New Restaurant</h3>
        </div>
      </div> -->
      <!--  -->

      <form #diningForm="ngForm">
        <div>
          <div class="row m-t-30">
            <div class="col-md-4">
              <div class="form_caption m-b-10"> Language</div>
              <div dropdown class="drop-div">
                <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{selectedLanguage}}</button>
                <ul *dropdownMenu class="dropdown-menu">
                  <ng-container *ngFor="let lang of languageList; let i=index">
                    <li (click)="onLangChange(lang)">
                      <span class="dropdown-item pointer">{{lang}}</span>
                    </li>
                    <li class="divider dropdown-divider" *ngIf="i !== languageList.length-1"></li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>

          <div class="row m-t-20">
            <div class="col-md-4">
              <div>Restaurant Name</div>
              <input type="text" class="form-control" name="restName" [(ngModel)]="restaurantName" required maxlength="100"
                #restName="ngModel">
              <!-- <span class="form-error" *ngIf="((!restName.pristine || formSubmitted) && !validateRestName())">Restaurant
                name is require</span> -->
            </div>

            <div class="col-md-4">
              <div>Opening Time</div>
              <!-- <input type="text" name="openingTime" class="form-control" [(ngModel)]="openingTime" required maxlength="100"
                  #openTime="ngModel">
                <span class="form-error" *ngIf="((!openTime.pristine || formSubmitted) && !validateOpenTime())">Opening
                  time require </span> -->
              <div dropdown [autoClose]="false" class="excursionRow position-relative">
                <input type="text" class="form-control display-inline-blk" [(ngModel)]="openingTime" name="openingTime"
                  placeholder="00:00" #sTime="ngModel">
                <span dropdownToggle class="display-inline-blk duration pointer p-t-10 position-absolute right-0"><i
                    class="fa fa-clock-o"></i></span>
                <ul *dropdownMenu class="dropdown-menu p-l-20">
                  <timepicker name="timepicker" [(ngModel)]="openingTime" (ngModelChange)="updateTimeFormat('openingTime')"
                    [showMeridian]="false"></timepicker>
                </ul>
              </div>
              <!--  -->

            </div>

            <div class="col-md-4">
              <div>Closing Time</div>
              <!-- <input type="text" name="closingTime" class="form-control" [(ngModel)]="closingTime" required maxlength="100"
                  #closeTime="ngModel">
                <span class="form-error" *ngIf="((!closeTime.pristine || formSubmitted) && !validateCloseTime())">Closing
                  time require</span> -->
              <!--  -->
              <div dropdown [autoClose]="false" class="excursionRow position-relative">
                <input type="text" class="form-control display-inline-blk" [(ngModel)]="closingTime" name="closingTime"
                  placeholder="00:00" #cTime="ngModel">
                <span dropdownToggle class="display-inline-blk duration pointer p-t-10 position-absolute right-0"><i
                    class="fa fa-clock-o"></i></span>
                <ul *dropdownMenu class="dropdown-menu p-l-20">
                  <timepicker name="timepicker" [(ngModel)]="closingTime" (ngModelChange)="updateTimeFormat('closingTime')"
                    [showMeridian]="false"></timepicker>
                </ul>
              </div>
              <!--  -->
            </div>
          </div>

          <div>
            <div class="row">
              <div class="col-md-12">
                <h4 class="title-7  m-t-50">About Restaurant</h4>
              </div>
            </div>

            <div class="row m-t-30">
              <div class="col-md-12">
                <div> Restaurant Description</div>
                <app-ngx-editor name="descEditor" [config]="editorConfig" [(ngModel)]="description"></app-ngx-editor>
              </div>
            </div>
          </div>

          <div class="row m-t-40">
            <div class="col-md-10">
              <h4 class="title-7 title-blue">Media Images</h4>
            </div>
            <div class="col-md-2">
              <div>
                <img src="assets/images/Plus-Icon.svg" height="40" width="40" class="img_plus m-l-40" (click)="addMediaFile()">
              </div>
              <!-- <button type="button" class="btn add color-grey set_align border-grey m-l-40 form-border" (click)="addMediaFile()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                  </button> -->
            </div>
          </div>
          <!--  -->
          <div class="row m-t-15" *ngFor="let type of mediaFileList; let i=index">
            <div class="col-md-11">
              <div>
                <input type="text" placeholder="Enter a media URL" class="form-control" name="imageUrl-{{type.index}}"
                  required [(ngModel)]="mediaFileList[i].url">
              </div>
            </div>
            <div class="col-md-1">
              <div class="">
                <button type="button" class="btn delete_btn" (click)="removeMediaFile(i)" *ngIf="i>0">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="row m-t-40">
            <div class="col-md-10">
              <h4 class="title-7 title-blue">Tables in Restaurant</h4>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn add color-grey set_align border-grey form-border m-l-80" (click)="showNewTableDialog(addTableTemplate)">Add
                Table</button>
            </div>
          </div>
          <!--  -->
        </div>


      </form>
    </div>
  </section>
  <!--  -->

  <section>
    <div class="container" *ngIf="addedTableList && addedTableList.length !== 0">
      <div class="row m-t-20">
        <div class="col-md-12">
          <div class="table-responsive table-responsive-data2">
            <table class="table table-data2 form-border">
              <thead>
                <tr class="table_header">
                  <th>#</th>
                  <th>Shape</th>
                  <th>Min Seat</th>
                  <th>Max Seat</th>
                  <th>Orientation</th>

                  <th>Movable</th>
                  <th>Smoking?</th>
                  <th>Reservation Required?</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="tableList" *ngFor="let row of addedTableList let no=index;">
                <tr class="tr-shadow">
                  <td>{{no+1}}</td>
                  <td>{{row.tableShape? row.tableShape:""}}</td>
                  <td>{{row.minSeats? row.minSeats:"0"}}</td>
                  <td>{{row.maxSeats? row.maxSeats:"0"}}</td>
                  <td>{{row.orientation? row.orientation:""}}</td>

                  <td>{{row.movable? "Y":"N"}}</td>
                  <td>{{row.smoking? "Y":"N"}}</td>
                  <td>{{row.reservationRequired? "Y":"N"}}</td>
                  <td>
                    <div class="table-data-feature action">
                      <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="fa fa-edit" (click)="updateTableData(row,no,addTableTemplate)"></i>
                      </button>
                      <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" (click)="deleteAddedTablFromList(no)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </section>

  <div class="m-t-30 text-center">
    <button type="button" class="btn btn-prime m-r-30" [disabled]="addedMealDetailList.length==0 || addedTableList.length==0"
      (click)="createNewRestaurant()">Save</button>
    <button type="button" class="btn btn-prime m-r-30" (click)="showMealComponent()">Add Meals</button>
    <button type="button" class="btn btn-prime">Cancel</button>
  </div>
  <div class="m-t-20"></div>
</div>
<!--  -->
<!--  add meal component -->
<!-- <app-add-meal (mealDetailsEmitter)='getAddedMealDetails($event)'  *ngIf="needToShowAddMealComponent"></app-add-meal>
   -->
<app-add-meal (showDiningScreenEmitter)='showDiningScreen($event)' (addedMealListEmitter)='getUpdatedMealList($event)'
  [addedMealList]="addedMealDetailList" *ngIf="needToShowAddMealComponent"></app-add-meal>
<!-- add table pop up dialog  -->
<ng-template #addTableTemplate>
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="width-full">Add New Table</h4>
    </div>
    <div class="modal-body">
      <div class="row m-b-20 ">
        <h5> Shape & Orientation</h5>
      </div>

      <div class="row m-b-20">
        <div class="col-md-6 m-b-10">
          <div>Shape</div>
          <div class="form-group">
            <div dropdown class="drop-div">
              <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{selectedShape}}</button>
              <!-- <span class="form-error" *ngIf="formSubmitted && selectedVendor==''">Vendor
                  is required</span> -->
              <ul *dropdownMenu class="dropdown-menu">
                <ng-container *ngFor="let shape of shapeList; let i=index">
                  <li (click)="onShapeChange(shape)">
                    <span class="dropdown-item pointer">{{shape}}</span>
                  </li>
                  <li class="divider dropdown-divider" *ngIf="i !== shapeList.length-1"></li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="col-md-6 m-b-10">
          <div>Orientation</div>
          <div class="form-group">
            <div dropdown class="drop-div">
              <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{selectedOrientation}}</button>
              <!-- <span class="form-error" *ngIf="formSubmitted && selectedVendor==''">Vendor
                  is required</span> -->
              <ul *dropdownMenu class="dropdown-menu">
                <ng-container *ngFor="let Orientation of OrientationList; let i=index">
                  <li style="color:black" (click)="onOrientationChange(Orientation)">
                    <span class="dropdown-item pointer">{{Orientation}}</span>
                  </li>
                  <li class="divider dropdown-divider" *ngIf="i !== OrientationList.length-1"></li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- 2nd row start -->
      <div class="row m-b-20 ">
        <h5> Number of Seats </h5>
      </div>
      <div class="row">
        <div class="col-md-6 m-b-10">
          <div>Minimum</div>
          <input type="number" class="form-control" name="minSeat" [(ngModel)]="minSeat" required maxlength="10" min=""
            #name="ngModel">
        </div>
        <!--  -->
        <!-- <div class="col-md-1"></div> -->

        <div class="col-md-6 m-b-10">
          <div>Maximum</div>
          <input type="number" class="form-control" name="maxSeat" [(ngModel)]="maxSeat" required maxlength="10" #name="ngModel">
        </div>
      </div>
      <!-- 3rd row checkbox-->
      <div class="row m-b-20 m-t-20">
        <h5> Other Attributes </h5>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">

            <span class="p-r-30">
              <label class="pointer form_caption m-b-10 au-checkbox display-inline-blk">
                <input type="checkbox" name="Movable" [(ngModel)]="isMovable">
                <span class="au-checkmark custom_checkbox"></span>
                <span class="m-l-30">Movable</span>
              </label>
            </span>
            <span class="p-r-30">
              <label class="pointer form_caption m-b-10 au-checkbox display-inline-blk">
                <input type="checkbox" name="ReservationRequire" [(ngModel)]="isReservationRequire">
                <span class="au-checkmark custom_checkbox"></span>
                <span class="m-l-30">Reservation required?</span>
              </label>
            </span>
            <span class="p-r-30">
              <label class="pointer form_caption m-b-10 au-checkbox display-inline-blk">
                <input type="checkbox" name="SmokingAllow" [(ngModel)]="isSmokingAllow">
                <span class="au-checkmark custom_checkbox"></span>
                <span class="m-l-30">Smoking?
                </span>
              </label>
            </span>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="row m-t-30 ">
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-prime m-r-20" (click)="addNewTableToList()">{{saveTableMsg}}</button>
          <button type="button" class="btn btn-prime btn-black" (click)="modalRef.hide()">Cancel</button>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</ng-template>
<!--  -->
<!--  -->

<!-- <div class="row m-t-20">
            <div class="col-md-12">
              <div style="color: red">Media</div>
              <ul>
                <li *ngFor="let listItem of imgPathList; let no=index;" style="padding:10px;display:inline-block;">
                  <img src={{listItem}} height="200" width="200"> <br />
                </li>
              </ul>
  
              <input type='file' (change)="onSelectFile($event)">
            </div>
          </div> -->
<!--  -->
<!-- <section class="p-b-10 p-t-20">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <tabset>
                  <tab heading="Meal List" id="tab1">
                    <app-list-of-meal></app-list-of-meal>
                  </tab>
                  <tab heading="Add new Meal">
                    <app-add-meal (mealDetailsEmitter)='getAddedMealDetails($event)'></app-add-meal>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
        </section> -->
<!-- <div class="m-t-10 text-center">
            <button type="submit" class="btn btn-prime">Submit Restaurant</button>
            <button type="button" class="btn btn-prime">Discard</button>
      
          </div> -->
<!--  -->
<!--  -->
<!--  ===== -->

<!-- <div class="row m-t-50">
  
            <div class="col-md-4">
              <div>Capacity</div>
              <input type="text" name="totalCapacity" class="form-control" [(ngModel)]="totalCapacity" required maxlength="10"
                #capacity="ngModel">
              <span class="form-error" *ngIf="((!capacity.pristine || formSubmitted) && !validateTotalCapacity())">
                Capacity require</span>
            </div>
  
            <div class="col-md-4">
              <div>Price</div>
              <input type="text" name="price" class="form-control" [(ngModel)]="price" required maxlength="10"
                #priceInput="ngModel">
              <span class="form-error" *ngIf="((!priceInput.pristine || formSubmitted) && !validatePrice())">Price
                require</span>
            </div>
  
            <div class="col-md-4">
              <div>Cancellation fee</div>
              <input type="text" name="cancellationFee" class="form-control" [(ngModel)]="cancellationFee" required
                maxlength="10" #cancel="ngModel">
              <span class="form-error" *ngIf="((!cancel.pristine || formSubmitted) && !validateCancellationFee())">Cancellation
                fee require</span>
            </div>
  
          </div> -->

<!--  ===== -->