<section class="p-t-50">
  <div class="m-lr-50">
    <div class="row">
      <div class="col-md-12">
        <!-- <a routerLink="/excursion/list" class="pull-right">Back to Excursions</a> -->
        <!-- <button type="button" class="btn color-grey border-grey pull-right m-l-10" (click)="addNew()" *ngIf="isEdit">New</button> -->
        <!-- <button type="button" class="btn color-grey border-grey pull-right" (click)="resetForm()">Reset</button> -->
        <h3 class="title-5 m-b-35" *ngIf="!isEdit">Add New Excursion</h3>
        <h3 class="title-5 m-b-35" *ngIf="isEdit">Edit Excursion</h3>
  
        <div class="text-center">
          <div class="display-inline-blk step-circle {{isStep1Active ? 'active': ''}}">1</div>
          <div class="display-inline-blk step-line"></div>
          <div class="display-inline-blk step-circle {{isStep2Active ? 'active': ''}}">2</div>
        </div>
      </div>
    </div>
    <form #excursionForm="ngForm" (ngSubmit)="saveExcursion(excursionForm)">
      <div *ngIf="isStep1Active" class="m-lr-30">
        <div class="row m-t-50">
          <div class="col-md-4 m-b-10">
            <div class="form-group">
              <div class="form_caption m-b-10">Excursion Name</div>
              <input type="text" class="form-control" name="excursionName" [(ngModel)]="excursionName" required
                maxlength="300" #name="ngModel">
              <span class="form-error" *ngIf="((!name.pristine || formSubmitted) && !validateName())">Excursion
                name is required</span>
            </div>
          </div>
          <div class="col-md-4 m-b-10">
            <div class="form-group">
              <div class="form_caption m-b-10">Vendor</div>
              <div dropdown class="drop-div">
                <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{selectedVendor}}</button>
                <span class="form-error" *ngIf="formSubmitted && selectedVendor==''">Vendor
                    is required</span>
                <ul *dropdownMenu class="dropdown-menu">
                  <ng-container *ngFor="let vendor of vendorList; let i=index">
                    <li (click)="onVendorChange(vendor)">
                      <span class="dropdown-item pointer">{{vendor}}</span>
                    </li>
                    <li class="divider dropdown-divider" *ngIf="i !== vendorList.length-1"></li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 m-b-10">
            <div class="form-group">
              <div class="form_caption m-b-10">Country</div>
              <div dropdown class="drop-div">
                <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{selectedCountry}}</button>
                <span class="form-error" *ngIf="formSubmitted && selectedCountry==''">Country
                    is required</span>
                <ul *dropdownMenu class="dropdown-menu">
                  <ng-container *ngFor="let country of countryList; let i=index">
                    <li (click)="onCountryChange(country)">
                      <span class="dropdown-item pointer">{{country}}</span>
                    </li>
                    <li class="divider dropdown-divider" *ngIf="i !== countryList.length-1"></li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row m-t-10">
          <div class="col-md-4 m-b-10">
            <div class="form-group">
              <div class="form_caption m-b-10">Port</div>
              <div dropdown class="drop-div">
                <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{selectedPort}}</button>
                <span class="form-error" *ngIf="formSubmitted && selectedPort==''">Port
                    is required</span>
                <ul *dropdownMenu class="dropdown-menu">
                  <ng-container *ngFor="let port of portList; let i=index">
                    <li (click)="onPortChange(port)">
                      <span class="dropdown-item pointer">{{port}}</span>
                    </li>
                    <li class="divider dropdown-divider" *ngIf="i !== portList.length-1"></li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4 m-b-10">
            <div class="form-group">
              <div class="form_caption m-b-10">Start Time</div>
              <div dropdown [autoClose]="false" class="drop-div excursionRow position-relative">
                <input type="text" class="form-control display-inline-blk" [(ngModel)]="startTime" name="startTime"
                  placeholder="00:00" #sTime="ngModel">
                <span dropdownToggle class="display-inline-blk duration pointer p-t-10 position-absolute right-0"><i
                    class="fa fa-clock-o"></i></span>
               
                <ul *dropdownMenu class="dropdown-menu p-l-20">
                  <timepicker name="timepicker" [(ngModel)]="startTime" [showMeridian]="false" (ngModelChange)="updateTimeFormat()"></timepicker>
                </ul>
              </div>
              <span class="form-error" *ngIf="((!sTime.pristine || formSubmitted) && !validateStartTime())">Start
                  time
                  is required</span>
            </div>
          </div>

          <div class="col-md-4 m-b-10">
            <div class="form-group">
              <div class="form_caption m-b-10 ">Duration</div>
              <div class="excursionRow">
                <input type="number" class="col-md-4 form-control display-inline-blk input_label pull-left" name="durationHrs"
                  [(ngModel)]="durationHrs" required #dHrs="ngModel" min="1">
                <span class="display-inline-blk duration label_input pull-left">Hrs</span>
                <span class="pull-right display-inline-blk duration label_input">Mins</span>
                <input type="number" class="form-control col-md-4 pull-right display-inline-blk input_label" name="durationMins"
                  [(ngModel)]="durationMins" required #dMins="ngModel" min="1">
              </div>
              <span class="form-error" *ngIf="((!dHrs.pristine || !dMins.pristine || formSubmitted) && !validateDuration())">Duration
                is required</span>
            </div>
          </div>
        </div>

        <div class="row m-t-10">
          <div class="col-md-4 m-b-10">
            <div class="form_caption m-b-10">Meeting Time</div>
            <div dropdown [autoClose]="false" class="excursionRow position-relative">
              <input type="text" class="form-control display-inline-blk" [(ngModel)]="meetingTime" name="meetingTime"
                placeholder="00:00" #mTime="ngModel">
              <span dropdownToggle class="display-inline-blk duration pointer p-t-10 position-absolute right-0"><i
                  class="fa fa-clock-o"></i></span>
             
              <ul *dropdownMenu class="dropdown-menu p-l-20">
                <timepicker name="timepicker" [(ngModel)]="meetingTime" (ngModelChange)="updateTimeFormat('meeting')"
                  [showMeridian]="false"></timepicker>
              </ul>
            </div>
            <span class="form-error" *ngIf="(!meetPlace.pristine || formSubmitted) && !validateMPlace()">Meeting
                place is required</span>
          </div>
          <div class="col-md-4 m-b-10">
            <div class="form-group">
              <div class="form_caption m-b-10">Meeting Place</div>
              <input type="text" class="form-control" name="meetingPlace" [(ngModel)]="meetingPlace" #meetPlace="ngModel"
                required>

            </div>
            <span class="form-error" *ngIf="(!meetPlace.pristine || formSubmitted) && !validateMPlace()">Meeting
                place is required</span>
          </div>
          <div class="col-md-4 m-b-10">
            <div class="form-group">
              <div class="form_caption m-b-10">Category</div>
              <div dropdown class="drop-div">
                <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{selectedCategory}}</button>
                <span class="form-error" *ngIf="formSubmitted && selectedCategory==''">Category
                    is required</span>
                <ul *dropdownMenu class="dropdown-menu">
                  <ng-container *ngFor="let category of categoryList; let i=index">
                    <li (click)="onCategoryChange(category)">
                      <span class="dropdown-item pointer">{{category}}</span>
                    </li>
                    <li class="divider dropdown-divider" *ngIf="i !== categoryList.length-1"></li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row m-t-10">
          <div class="col-md-4 m-b-10">
            <div class="form-group">
              <div class="form_caption m-b-10">Activity level</div>
              <div dropdown class="drop-div">
                <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{selectedActivity}}</button>
                <span class="form-error" *ngIf="formSubmitted && selectedActivity==''">Activity
                    is required</span>
                <ul *dropdownMenu class="dropdown-menu">
                  <ng-container *ngFor="let activity of activityLevel; let i=index">
                    <li (click)="onActivityChange(activity)">
                      <span class="dropdown-item pointer">{{activity}}</span>
                    </li>
                    <li class="divider dropdown-divider" *ngIf="i !== activityLevel.length-1"></li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>


          <div class="col-md-4 m-b-10">
            <div class="form-group">

              <div class="form_caption m-b-10">Type</div>
              <div dropdown class="drop-div">
                <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{selectedType}}</button>
                <span class="form-error" *ngIf="formSubmitted && selectedType==''">Type
                    is required</span>
                <ul *dropdownMenu class="dropdown-menu">
                  <ng-container *ngFor="let type of typeList; let i=index">
                    <li (click)="onTypeChange(type)">
                      <span class="dropdown-item pointer">{{type}}</span>
                    </li>
                    <li class="divider dropdown-divider" *ngIf="i !== typeList.length-1"></li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="title-7 title-blue m-b-15 m-t-40">Active Duration</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group ">
                <div class="form_caption m-b-10">Start Date</div>
                <div class="excursionRow position-relative">
                  <input bsDatepicker #startDp="bsDatepicker" type="text" class="form-control display-inline-blk"
                    [bsConfig]="dpConfig" name="startDate" [(ngModel)]="startDate" #sdate="ngModel">
                  <span class="display-inline-blk duration pointer p-t-10 position-absolute right-0" (click)="startDp.show()">
                    <i class="fa fa-calendar"></i>
                    
                    <!-- <img src="/assets/images/small_calendar.svg" height="20" width="20"> -->
                  </span>
                  
                </div>
                <span class="form-error" *ngIf="((!sdate.pristine || formSubmitted) && !validateDate())">Start
                    date is required</span>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="form-group">
                <div class="form_caption m-b-10">End Date</div>
                <div class="excursionRow position-relative">
                  <input bsDatepicker #endDp="bsDatepicker" type="text" class="form-control display-inline-blk"
                    [bsConfig]="dpConfig" name="endDate" [(ngModel)]="endDate" #edate="ngModel">
                  <span class="display-inline-blk duration pointer p-t-10 position-absolute right-0" (click)="endDp.show()">
                    <i class="fa fa-calendar"></i>
                    <!-- <img src="/assets/images/small_calendar.svg" height="20" width="20"> -->
                  </span>
                 
                </div>
                <span class="form-error" *ngIf="((!edate.pristine || formSubmitted) && !validateDate())">End
                    date is required</span>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="title-7 title-blue m-b-15 m-t-40">Capacity</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 ">
              <div class="form-group">
                <div class="form_caption m-b-10">Min Pax</div>
                <input type="number" class="form-control" name="minCapacity" [(ngModel)]="minCapacity" required min="1"
                  #minCap="ngModel">
                <span class="form-error" *ngIf="((!minCap.pristine || formSubmitted)) && !validateMinCapacity()">Minimum
                  capacity is required</span>
              </div>
            </div>
            <div class="col-md-4 ">
              <div class="form-group">
                <div class="form_caption m-b-10">Max Pax</div>
                <input type="number" class="form-control" name="maxCapacity" [(ngModel)]="maxCapacity" required [min]="1"
                  #maxCap="ngModel">
                <span class="form-error" *ngIf="((!maxCap.pristine || formSubmitted)) && !validateMaxCapacity()">Maximum
                  capacity is required</span>
                <!-- <div class="excursionRow">
              <input type="number" class="col-md-4 form-control display-inline-blk" name="maxCapacity" [(ngModel)]="maxAdult">
              <span class="display-inline-blk duration">Adult</span>
              <span class="pull-right display-inline-blk duration">Child</span>
              <input type="number" class="form-control col-md-4 pull-right display-inline-blk" name="maxCapacity"
                [(ngModel)]="maxChild">
            </div> -->
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="title-7 title-blue m-b-15 m-t-40">Transportation Equipment</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="form_caption m-b-10">Type</div>
                <input type="text" class="form-control" name="transType" [(ngModel)]="transType" required placeholder="Boat, Car ..."
                  #trType="ngModel">
              </div>
              <!-- <span class="form-error" *ngIf="((!trType.pristine || formSubmitted) && !validateTransType())">Transportation
                type is required</span> -->
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <div class="form_caption m-b-10">Comment</div>
                <input type="text" class="form-control" name="transCom" [(ngModel)]="transCom" placeholder="Enter a comment">
              </div>
            </div>
          </div>
          <div class="row m-t-20">
            <div class="col-md-12">
              <div class="form-group">

                <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
                  <input type="checkbox" name="insurance" [(ngModel)]="isInsuranceReq">
                  <span class="au-checkmark custom_checkbox"></span>
                  <span class="m-l-30">Requires Insurance</span>
                </label>
                <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
                  <input type="checkbox" name="ac" [(ngModel)]="isAC">
                  <span class="au-checkmark custom_checkbox"></span>
                  <span class="m-l-30">Has Air Conditioner</span>
                </label>
                <label class="pointer form_caption m-b-10 au-checkbox display-inline-blk">
                  <input type="checkbox" name="covered" [(ngModel)]="isCovered">
                  <span class="au-checkmark custom_checkbox"></span>
                  <span class="m-l-30">Covered?</span>
                </label>
                <label class="p-r-20 pointer form_caption "><span class="m-l-0">&nbsp; (eg: Boat is Covered or not)</span></label>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="row m-t-20">
            <div class="col-md-4">
              <h4 class="title-7 title-blue">Retail Price</h4>
            </div>
          
            <div class="col-md-4"></div>
          </div>
          <div class="row m-t-0">
            <div class="col-md-4">
              <div class="form_caption m-b-10 m-t-10 ">
                <!-- <span class="m-r-5">Currency:</span><div dropdown class="display-inline-blk right-dropdown form-border drop-div currency_dp ">
                  <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc border-none">{{selectedCurrency}}</button>
                  <ul *dropdownMenu class="dropdown-menu currency_dp_right dropdown_width_100">
                    <ng-container *ngFor="let type of currencyList; let i=index">
                      <li (click)="onCurrChange(type)">
                        <span class="dropdown-item pointer"> {{type}}</span>
                      </li>
                      <li class="divider dropdown-divider" *ngIf="i !== currencyList.length-1"></li>
                    </ng-container>
                  </ul>
                </div> -->
                <div class="form_caption m-b-10 m-t-5">
                  Currency
                </div>
                <div dropdown class="display-inline-blk right-dropdown drop-div  form-border currency_dp ">
                  <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc border-none">{{selectedCurrency}}</button>
                  <ul *dropdownMenu class="dropdown-menu currency_dp_right dropdown_width_100">
                    <ng-container *ngFor="let type of currencyList; let i=index">
                      <li (click)="onCurrChange(type)">
                        <span class="dropdown-item pointer"> {{type}}</span>
                      </li>
                      <li class="divider dropdown-divider" *ngIf="i !== currencyList.length-1"></li>
                    </ng-container>
                  </ul>
                </div>
              </div>
             
            </div>
            <div class="col-md-7"></div>
            <div class="col-md-1 m-t-15">
              
                <!-- <div class="display-inline-blk pull-right"> -->
                <img class="btn_add display-inline-blk pull-right m-r-15" src="assets/images/Plus-Icon.svg" (click)="addPriceRows()">
                <!-- </div> -->
                
             
            </div>
           
            
            <div class="col-md-4">
            
            </div>
          </div>

          <div class="row" *ngFor="let row of priceRows; let i=index;">
            <div class="col-md-4">
              <div class="form_caption m-b-10">
                Price
              </div>
              <div class="excursionRow">
                <input type="number" class="col-md-4 form-control set_width display-inline-blk pull-left input_label" name="regAdultPrice-{{priceRows[i].no}}"
                  [(ngModel)]="priceRows[i].adult">
                <span class="display-inline-blk duration pull-left label_input set_style">Adult</span>
                <span class="pull-right display-inline-blk duration label_input set_style">Child</span>
                <input type="number" class="col-md-3 form-control pull-right display-inline-blk input_label" name="regChildPrice-{{priceRows[i].no}}"
                  [(ngModel)]="priceRows[i].child">
              </div>
            </div>
            <div class="col-md-7">
              <div class="col-md-6 display-inline-blk">
                <div class="form_caption m-b-10">Valid From</div>
                <div class="excursionRow position-relative">

                  <input bsDatepicker #validFrom="bsDatepicker" type="text" class="form-control display-inline-blk"
                    [bsConfig]="dpConfig" name="priceValidFrom-{{priceRows[i].no}}" [(ngModel)]="priceRows[i].priceValidFrom">
                  <span class="display-inline-blk duration pointer p-t-10 position-absolute right-0" (click)="validFrom.show()">
                    <i class="fa fa-calendar"></i>
                    <!-- <img src="/assets/images/small_calendar.svg" height="20" width="20"> -->
                  </span>
                </div>
              </div>
              <div class="col-md-6 display-inline-blk">
                <div class="form_caption m-b-10">Valid To</div>
                <div class="excursionRow position-relative">

                  <input bsDatepicker #validTo="bsDatepicker" type="text" class="form-control display-inline-blk"
                    [bsConfig]="dpConfig" name="priceValidTo-{{priceRows[i].no}}" [(ngModel)]="priceRows[i].priceValidTo">
                  <span class="display-inline-blk duration pointer p-t-10 position-absolute right-0" (click)="validTo.show()">
                    <i class="fa fa-calendar"></i>
                    <!-- <img src="/assets/images/small_calendar.svg" height="20" width="20"> -->

                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <div class="" style="margin-top: 33px;" *ngIf="i>0">
                <button type="button" class="btn delete_btn" (click)="removePriceRow(i)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>

          </div>
        </div>

        <div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="title-7 title-blue m-b-15 m-t-40">Rules</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div>
                  <label class="pointer form_caption m-b-10 au-checkbox">
                    <input type="checkbox" name="weightRule" [(ngModel)]="isWeightRule">
                    <span class="au-checkmark custom_checkbox"></span>
                    <span class="m-l-30">Weight (Kgs)</span>
                  </label>
                </div>
                <div>
                  <input type="number" class="form-control display-inline-blk width-50pc pull-left input_label pull-left"
                    name="weightVal" [(ngModel)]="weightVal" min="1" disabled={{!isWeightRule}}>


                  <div dropdown class="display-inline-blk right-dropdown drop-div drop-div-right label_input width-25pc dropdown_width_100_main">
                    <button dropdownToggle type="button" class="btn color-grey  
                        dropdown-toggle width-100pc min_dropdown">{{weightTypeSelected}}</button>
                    <ul *dropdownMenu class="dropdown-menu dropdown_width_100">
                      <ng-container *ngFor="let type of weightTypes; let i=index">
                        <li (click)="onWeightChange(type)">
                          <span class="dropdown-item pointer">{{type}}</span>
                        </li>
                        <li class="divider dropdown-divider" *ngIf="i !== weightTypes.length-1"></li>
                      </ng-container>
                    </ul>
                  </div>
                </div>
                <!-- <span class="form-error" *ngIf="(isWeightRule && !weightVal)">Weight is required</span> -->
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div>
                  <label class="pointer form_caption m-b-10 pointer au-checkbox">
                    <input type="checkbox" name="heightRule" [(ngModel)]="isHeightRule">
                    <span class="au-checkmark custom_checkbox"></span>
                    <span class="m-l-30">Height (inches)</span>
                  </label>
                </div>
                <input type="number" class="form-control display-inline-blk width-50pc pull-left input_label pull-left"
                  name="heightVal" [(ngModel)]="heightVal" min="1" disabled={{!isHeightRule}}>
                <div dropdown class="display-inline-blk right-dropdown drop-div drop-div-right label_input width-25pc dropdown_width_100_main">
                  <button dropdownToggle type="button" class="btn color-grey 
                   dropdown-toggle width-100pc min_dropdown">{{heightTypeSelected}}</button>
                  <ul *dropdownMenu class="dropdown-menu dropdown_width_100">
                    <ng-container *ngFor="let type of heightTypes; let i=index">
                      <li (click)="onHeightChange(type)">
                        <span class="dropdown-item pointer">{{type}}</span>
                      </li>
                      <li class="divider dropdown-divider" *ngIf="i !== heightTypes.length-1"></li>
                    </ng-container>
                  </ul>
                </div>
                <!-- <span class="form-error" *ngIf="(isHeightRule && !heightVal)">Height is required</span> -->
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">

                <div>
                  <label class="pointer form_caption m-b-10 pointer au-checkbox">
                    <input type="checkbox" name="ageRule" [(ngModel)]="isAgeRule">
                    <span class="au-checkmark custom_checkbox"></span>
                    <span class="m-l-30">Age</span>
                  </label>
                </div>
                <input type="number" class="form-control display-inline-blk width-50pc pull-left input_label pull-left"
                  name="ageVal" [(ngModel)]="ageVal" min="1"disabled={{!isAgeRule}}>
                <div dropdown class="display-inline-blk right-dropdown drop-div drop-div-right label_input width-25pc dropdown_width_100_main">
                  <button dropdownToggle type="button" class="btn color-grey  
                      dropdown-toggle width-100pc min_dropdown">{{ageTypeSelected}}</button>
                  <ul *dropdownMenu class="dropdown-menu dropdown_width_100">
                    <ng-container *ngFor="let type of ageTypes; let i=index">
                      <li (click)="onAgeChange(type)">
                        <span class="dropdown-item pointer">{{type}}</span>
                      </li>
                      <li class="divider dropdown-divider" *ngIf="i !== ageTypes.length-1"></li>
                    </ng-container>
                  </ul>
                </div>
                <!-- <span class="form-error" *ngIf="(isAgeRule && !ageVal)">Age is required</span> -->
              </div>
            </div>
          </div>
          <div class="row m-t-10 excursionRow">
            <div class="col-md-4">
              <div class="form-group">
                <div>
                  <label class="pointer form_caption m-b-10 au-checkbox">
                    <input type="checkbox" name="isOverWeightRule" [(ngModel)]="isOverWeightRule" 
                    class="pointer">
                    <span class="au-checkmark custom_checkbox"></span>
                    <span class="m-l-30">Overweight Charges</span>
                  </label>
                </div>
                <input type="number" class="form-control width-50pc display-inline-blk input_label pull-left" name="overweightVal"
                  [(ngModel)]="overweightVal" min="1" disabled={{!isOverWeightRule}}> 
                  <div dropdown class="display-inline-blk right-dropdown drop-div 
                  drop-div-right label_input width-25pc dropdown_width_100_main">
                  <button dropdownToggle type="button" class="btn color-grey  
                  dropdown-toggle width-100pc min_dropdown">{{overWeightChargesType}}</button>

                  <ul *dropdownMenu class="dropdown-menu dropdown_width_100">
                    <li (click)="onOverWeightTypeCharge('Fixed')">
                      <span class="dropdown-item pointer">Fixed</span>
                    </li>
                    <li class="divider dropdown-divider" *ngIf="i !== heightTypes.length-1"></li>
                    <li (click)="onOverWeightTypeCharge('%')">
                      <span class="dropdown-item pointer">%</span>
                    </li>
                  </ul>
                </div>
                <!-- <span class="display-inline-blk duration text-center label_input width-25pc" *ngIf="selectedCurrency == 'Euro'">&euro;</span>
                <span class="display-inline-blk duration text-center label_input width-25pc" *ngIf="selectedCurrency == 'USD'">$</span> -->
                <!-- <span class="form-error" *ngIf="(isOverWeightRule && !overweightVal)">Charges
                are required</span> -->
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <div>
                  <label class="form_caption m-b-10 pointer au-checkbox">
                    <input type="checkbox" name="isCancellationRule" [(ngModel)]="isCancellationRule" class="pointer">
                    <span class="au-checkmark custom_checkbox"></span>
                    <span class="m-l-30">Cancellation Charges (Per Booking)</span>
                  </label>
                </div>
                <input type="number" class="form-control display-inline-blk width-50pc input_label
                 pull-left" name="cancellationCharge"
                  [(ngModel)]="cancellationCharge" min="1" disabled={{!isCancellationRule}}>
                <div dropdown class="display-inline-blk right-dropdown drop-div 
                  drop-div-right label_input width-25pc dropdown_width_100_main">
                  <button dropdownToggle type="button" class="btn color-grey  
                      dropdown-toggle width-100pc min_dropdown"
                   >{{cancellationType}}</button>

                  <ul *dropdownMenu class="dropdown-menu dropdown_width_100">
                    <li (click)="onCancellatiionTypeChange('Fixed')">
                      <span class="dropdown-item pointer">Fixed</span>
                    </li>
                    <li class="divider dropdown-divider" *ngIf="i !== heightTypes.length-1"></li>
                    <li (click)="onCancellatiionTypeChange('%')">
                      <span class="dropdown-item pointer">%</span>
                    </li>
                  </ul>
                </div>
              </div>

              <!--  -->
              <!-- <span class="form-error" *ngIf="(isCancellationRule && !cancellationCharge)">Charges
                are required</span> -->
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 m-t-20">
              <label class="p-r-20 pointer">Operational On: </label>
              <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
                <input type="checkbox" name="daysOfWeek1" [(ngModel)]="daysOfWeek.sunday">
                <span class="au-checkmark custom_checkbox"></span>
                <span class="m-l-30">Sunday</span>
              </label>
              <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
                <input type="checkbox" name="daysOfWeek2" [(ngModel)]="daysOfWeek.monday">
                <span class="au-checkmark custom_checkbox"></span>
                <span class="m-l-30">Monday</span>
              </label>
              <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
                <input type="checkbox" name="daysOfWeek3" [(ngModel)]="daysOfWeek.tuesday">
                <span class="au-checkmark custom_checkbox"></span>
                <span class="m-l-30">Tuesday</span>
              </label>
              <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
                <input type="checkbox" name="daysOfWeek4" [(ngModel)]="daysOfWeek.wednesday">
                <span class="au-checkmark custom_checkbox"></span>
                <span class="m-l-30">Wednesday</span>
              </label>
              <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
                <input type="checkbox" name="daysOfWeek5" [(ngModel)]="daysOfWeek.thursday">
                <span class="au-checkmark custom_checkbox"></span>
                <span class="m-l-30">Thursday</span>
              </label>
              <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
                <input type="checkbox" name="daysOfWeek6" [(ngModel)]="daysOfWeek.friday">
                <span class="au-checkmark custom_checkbox"></span>
                <span class="m-l-30">Friday</span>
              </label>
              <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
                <input type="checkbox" name="daysOfWeek7" [(ngModel)]="daysOfWeek.saturday">
                <span class="au-checkmark custom_checkbox"></span>
                <span class="m-l-30">Saturday</span>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group m-t-10">
                <div>
                   
                  <label class="form_caption m-b-10 pointer au-checkbox">
                    <input type="checkbox" name="embarkingGuest" [(ngModel)]="embarkingGuest">
                    <span class="au-checkmark custom_checkbox"></span>
                    <span class="m-l-30">Allow Embarking Guests</span>
                  </label>
                </div>
                <div>
                  <label class="form_caption m-b-10 pointer au-checkbox">
                    <input type="checkbox" name="intransitGuest" [(ngModel)]="intransitGuest">
                    <span class="au-checkmark custom_checkbox"></span>
                    <span class="m-l-30">Allow In-transit Guests</span>
                  </label>
                </div>
              
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group m-t-10">

                <!-- <div>
                  <label class="form_caption m-b-10 pointer au-checkbox">
                    <input type="checkbox" name="noPromotion" [(ngModel)]="isNoPromotionRule">
                    <span class="au-checkmark custom_checkbox"></span>
                    <span class="m-l-30">Do NOT Apply Promotion To This Excursion</span>
                  </label>
                </div> -->
                <div>
                  <label class="form_caption m-b-10 pointer au-checkbox">
                    <input type="checkbox" name="disembarkingGuest" [(ngModel)]="disembarkingGuest">
                    <span class="au-checkmark custom_checkbox"></span>
                    <span class="m-l-30">Allow Disembarking Guests</span>
                  </label>
                </div>
                <div>
                  <label class="form_caption m-b-10 pointer au-checkbox">
                    <input type="checkbox" name="oneTckt" [(ngModel)]="isOneTicketPerPersonRule">
                    <span class="au-checkmark custom_checkbox"></span>
                    <span class="m-l-30">Only 1 Ticket Per Person</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="title-7 title-blue m-b-15 m-t-40">Publish On</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">

                <span class="p-r-30">
                  <label class="pointer form_caption m-b-10 au-checkbox display-inline-blk">
                    <input type="checkbox" name="publishOnApp" [(ngModel)]="isPublishOnApp">
                    <span class="au-checkmark custom_checkbox"></span>
                    <span class="m-l-30">Mobile App</span>
                  </label>
                </span>
                <span class="p-r-30">
                  <label class="pointer form_caption m-b-10 au-checkbox display-inline-blk">
                    <input type="checkbox" name="publishOnWeb" [(ngModel)]="isPublishOnWeb">
                    <span class="au-checkmark custom_checkbox"></span>
                    <span class="m-l-30">Web Page</span>
                  </label>
                </span>
                <span class="p-r-30">
                  <label class="pointer form_caption m-b-10 au-checkbox display-inline-blk">
                    <input type="checkbox" name="publishOnKisok" [(ngModel)]="isPublishOnKisok">
                    <span class="au-checkmark custom_checkbox"></span>
                    <span class="m-l-30">Kiosk</span>
                  </label>
                </span>
                <span>
                  <label class="pointer form_caption au-checkbox display-inline-blk">
                    <input type="checkbox" name="publishOnChatbot" [(ngModel)]="isPublishOnChatbot">
                    <span class="au-checkmark custom_checkbox"></span>
                    <span class="m-l-30">Chat Bot</span>
                  </label>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-12">
              <h4 class="title-7 title-blue m-b-15 m-t-40">Status</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                  <span>
                     
                      <label class="pointer form_caption m-b-10 display-inline-blk p-r-30">
                        <!-- <input type="radio" name="status"  value="ACTIVE" [(ngModel)]="status"> -->
                        <input type="radio" id="test1" name="radio-group" value="ACTIVE" [(ngModel)]="status">
                        <label for="test1">Active</label>
                        
                        <!-- <span class="m-l-5">Active </span> -->
                      </label>
                    </span>
                    <span>
                       <label class="pointer form_caption m-b-10 display-inline-blk p-r-30">
                          <input type="radio" name="radio-group" id="test2" value="INACTIVE" [(ngModel)]="status" >
                          <label for="test2">Inactive</label>
                        </label>
                      </span>

                <!-- <span class="p-r-30">
                  <label class="pointer form_caption">
                      <input type="radio" name="status" value="ACTIVE" [(ngModel)]="status">
                      <span class="m-l-5">Active</span>
                  </label>
                </span>
                <span class="p-r-30">
                    <label class="pointer form_caption ">
                        <input type="radio" name="status" value="INACTIVE" [(ngModel)]="status">
                        <span class="m-l-5">Inactive</span>
                    </label>
                </span> -->
               
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-md-12">
            <h4 class="title-7 title-blue m-b-15 m-t-40">Status</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="p-r-30">
              <label>
                <input type="radio" name="status" [(ngModel)]="status" value="active">
                Active
              </label>
            </span>
            <span>
              <label>
                <input type="radio" name="status" [(ngModel)]="status" value="inactive">
                Inactive
              </label>
            </span>
          </div>
        </div> -->
      </div>
      <div *ngIf="isStep2Active" class="m-lr-30">
        <div class="row">
          <div class="col-md-12">
            <h4 class="title-7 title-blue m-b-15 m-t-40">Add Digital Content</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form_caption m-b-10"> Language</div>
            <div dropdown class="drop-div">
              <button dropdownToggle type="button" class="btn color-grey  dropdown-toggle width-100pc">{{language}}</button>
              <ul *dropdownMenu class="dropdown-menu">
                <ng-container *ngFor="let lang of languageList; let i=index">
                  <li (click)="onLangChange(lang)">
                    <span class="dropdown-item pointer">{{lang}}</span>
                  </li>
                  <li class="divider dropdown-divider" *ngIf="i !== languageList.length-1"></li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>

        <div class="row m-t-20">
          <div class="col-md-12">
            <div class="form_caption m-b-10">Description</div>
            <app-ngx-editor name="descEditor" [config]="editorConfig" [(ngModel)]="description"></app-ngx-editor>
            <!-- <span *ngIf="!excursionForm.getControl('descEditor').valid">Excursion Name is required</span> -->
          </div>
        </div>

        <div class="row m-t-20">
          <div class="col-md-12">
            <div class="form_caption m-b-10">Instructions</div>
            <app-ngx-editor name="instEditor" [config]="editorConfig" [(ngModel)]="instructions"></app-ngx-editor>
          </div>
        </div>

        <div class="row m-t-20">
          <div class="col-md-12">
            <div class="form_caption m-b-10">Inclusions</div>
            <app-ngx-editor name="inclEditor" [config]="editorConfig" [(ngModel)]="inclusions"></app-ngx-editor>
          </div>
        </div>

        <div class="row m-t-20">
          <div class="col-md-12">
            <div class="form_caption m-b-10">Exclusions</div>
            <app-ngx-editor name="exclEditor" [config]="editorConfig" [(ngModel)]="exclusions"></app-ngx-editor>
          </div>
        </div>

        <!-- <div class="row m-t-20">
          <div class="col-md-12">
            <input type="file" (change)="onFileSelection($event)">
          </div>
          <div class="col-md-12 m-t-10" *ngIf="mediaList.length > 0">
            <ul class="mediaList">
              <li *ngFor="let media of mediaList">
                <img src="{{media}}">
              </li>
            </ul>
          </div>
        </div> -->

        <div class="row m-t-40">
          <div class="col-md-10">
            <h4 class="title-7 title-blue">Media Images</h4>
          </div>
          <div class="col-md-2">
              <div>
                <img src="assets/images/Plus-Icon.svg" class="img_plus" (click)="addMediaFile()">
              </div>
          </div>
        </div>
        <div class="row m-t-15" *ngFor="let type of mediaFileList; let i=index">
          <div class="col-md-11">
            <div>
              <input type="text" placeholder="Enter a media URL" class="form-control" name="imageUrl-{{type.index}}"
                required [(ngModel)]="mediaFileList[i].url">
            </div>
          </div>
          <div class="col-md-1">
            <div class="" >
              <button type="button" class="btn delete_btn" (click)="removeMediaFile(i)"  *ngIf="i>0">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>

      </div>
      

      <div class="m-t-40 text-center">
        <button type="button" class="btn btn-prime" *ngIf="isStep1Active" (click)="isStep2Active=true;isStep1Active=false;">Next</button>
        <button type="button" class="btn btn-prime m-r-30" *ngIf="isStep2Active" (click)="isStep2Active=false;isStep1Active=true;">Back</button>
        <button type="submit" class="btn btn-prime" *ngIf="isStep2Active">Save</button>
      </div>

   
    </form>
  </div>
</section> 

<div class="m-t-20"></div>