.custom_checkbox{
    height:16px !important;
    width:16px !important;
}
.btn_add{
    height:46px;
    width:46px;
    margin-left:-68px;
    /* color: #354052; */

}
.set_width{
width:89px;
height:46px;
}
.set_align{
    /* margin-left:70px; */
    height:46px;
    width:46px;
    margin-left:94px;
}
.set_font{
    font-family: 'robotomedium';
    font-size: 15px;
    color: #354052;
    font-weight: 500;
    margin-top:-15px;
}
.set_style{
    font-weight:400;
    font-size:13px;
}
.set_background{
    background-color: #eee !important;
}
.img_plus{
    height: 46px;
    width: 46px;
    margin-left: 93px;
}