 .error_title{
     color:red;
     font-size:15px;
 }
 .set_margin{
     margin-top:-17px;
 }
 .set_align{
     margin-top:12px;
 }
 .custom_checkbox{
    height:16px !important;
    width:16px !important;
}