<div>
    <app-alert titleText="{{alert.title}}" message="{{alert.message}}" *ngIf="isShowAlert"></app-alert>
  <!-- BREADCRUMB-->
  <section class="p-b-10 p-t-20">
    <div class="">
      <div class="row m-full-20">
        <div class="col-md-2">
          <label class="set_align" >
            <input type="radio" name="radio-group" id="cabin" [(ngModel)]="scanBy" value="cabinNumber" (click)="SelectCabinNo()">
             <label for="cabin">Cabin Number</label>
          </label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="cabinNumber" [(ngModel)]="cabinNumber" required maxlength="100"
            #cNumber="ngModel" disabled={{selectCabinNo}}>
        </div>
      </div>
      <div class="row m-full-20">
          <div class="col-md-2">
          </div>
          <div class="col-md-4 set_margin">
              <span class="error_title">{{errorCabinMessage}}</span>
          </div>
        </div>
      <div class="row m-full-20">
        <div class="col-md-2">
          <label class="set_align">
            <input type="radio" name="radio-group" id="traveller" [(ngModel)]="scanBy" value="nameOftraveller" (click)="TravellerNameSelected()" >
           <label for="traveller">Name of Traveller</label> 
          </label>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" name="nameOftraveller" [(ngModel)]="nameOftraveller" required
            maxlength="100" #tName="ngModel" disabled={{selectTravellerName}}>
        </div>
      </div>
      <div class="row m-full-20">
          <div class="col-md-2">
          </div>
          <div class="col-md-4 set_margin">
              <span class="error_title">{{errorTravellerMessage}}</span>
          </div>
        </div>

      <div class="row m-full-20">
        <div class="col-md-2">
        </div>
        <div class="col-md-3">
            <label class="p-r-20 pointer form_caption m-b-10 au-checkbox display-inline-blk">
                <input type="checkbox" name="ac" [(ngModel)]="includeTravellingWith">
                <span class="au-checkmark custom_checkbox"></span>
                <span class="m-l-20">Include Travelling with</span>
              </label>
          <!-- <label class="p-r-20 pointer">
            <input type="checkbox" name="insurance" [(ngModel)]="includeTravellingWith">
            Include Travelling with
          </label> -->
        </div>
      </div>
      <div class="row m-full-20">
        <div class="col-md-2">
        </div>
        <div class="col-md-3"> <button type="button" class="btn btn-prime align-middle" (click)="searchTraveller()">Search</button>
         
        </div>
      </div>
    </div>
    <!--  -->
    <div class="container" *ngIf="searchedTravellerList && searchedTravellerList.length > 0">
      <div class="row m-full-20">
        <div class="col-md-6">
          <label class="p-r-20 pointer"><b>Search Result</b> </label>
        </div>
        <div class="col-md-6 ">
          <button type="button" class="btn btn-prime pull-right" (click)="addSelectedTraveller()">Add</button>
        </div>
      </div>

      <div class="row m-full-20">
        <div class="col-md-12">
          <div class="table-responsive table-responsive-data2">
            <table class="table table-data2 form-border">
              <thead>
                <tr class="table_header">
                  <th>
                    <label class="au-checkbox custom_checkbox">
                      <input type="checkbox" [(ngModel)]="selectAllChecked" (change)="changeAllCheckboxSelection($event)">
                      <span class="au-checkmark"></span></label>
                  </th>
                  <th>Cabin</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Gender</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody class="tableList" *ngFor="let row of searchedTravellerList let no=index;">
                <tr class="tr-shadow">
                  <td>
                    <label class="au-checkbox custom_checkbox">
                      <input type="checkbox" [(ngModel)]="searchedTravellerList[no].checked" (change)="travellerSelectionChange($event,no)">
                      <span class="au-checkmark"></span></label>
                    <!-- <label class="p-r-20 pointer">
                                <input type="checkbox" name="insurance" [(ngModel)]="searchResultList[no].checked">
                                <span class="au-checkmark"></span>
                                <span>{{row.id? row.id:""}}</span>
                              </label> -->
                  </td>
                  <!-- {{row.id? row.id:""}} -->
                  <td>{{row.cabin ? row.cabin : ""}}</td>
                  <td>{{row.firstName ? row.firstName : ""}}</td>
                  <td>{{row.lastName ? row.lastName : ""}}</td>
                  <td>{{row.gender ? row.gender : ""}}</td>
                  <td>{{row.status ? row.status : ""}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



    <!-- selected traveller table -->
    <div class="container" *ngIf="selectedTravellerList && selectedTravellerList.length !== 0">
      <div class="row m-full-20">
        <div class="col-md-12">
            <label class="p-r-20 pointer "><b>Selected Traveller</b> </label>
        </div>
      </div>

      <div class="row m-full-20">
        <div class="col-md-12">
          <div class="table-responsive table-responsive-data2">
            <table class="table table-data2 form-border">
              <thead>
                <tr class="table_header">
                  <th>Sr No</th>
                  <th>Cabin</th>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="tableList" *ngFor="let row of selectedTravellerList let no=index;">
                <tr class="tr-shadow">
                  <!-- <td>{{row.id? row.id:""}}</td> -->
                  <td>{{no + 1}}</td>
                  <td>{{row.cabin ? row.cabin : ""}}</td>
                  <td>{{row.firstName || row.lastName ? (row.firstName || '') + ' ' + (row.lastName || '') : ""}}</td>
                  <td>{{row.gender ? row.gender : ""}}</td>

                  <!-- <td> <button class="item" data-toggle="tooltip" data-placement="top" 
                    title="Delete" (click)="deleteTraveller(no)">
                      <i class="fa fa-delete"></i>
                    </button></td> -->
                  <td class="text-center">
                    <div class="action ">
                      <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                        <i class="fa fa-trash" (click)="deleteTraveller(no)"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="m-t-20 m-b-20 text-center">
        <button type="button" class="btn btn-prime" (click)="bookExcursion()">
          Next</button>
      </div>
    </div>
  </section>
</div>