/* You can add global styles to this file, and also import other style files */

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    /* font-weight: 400; */
    font-family: 'Poppins', sans-serif;
}

table th, td {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.width-100pc {
    width: 100%;
}

.font-14 {
    font-size: 14px;
}

.font-bold {
    font-weight: 600;
}

.p-full-20 {
    padding: 20px;
}

.m-full-20 {
    margin: 20px;
}

.pull-right {
    float: right;
}

.border-grey {
    border: 1px solid grey;
}

.color-grey {
    color: grey;
}

.color-white {
    color: white;
}

.text-center {
    text-align: center;
}

.has-sub ul li a:hover, ul li a:focus {
    position: relative;
    color:red;
   }
.step-circle {
    width: 40px;
    height: 40px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    padding: 6px;
    font-weight: 700;
    font-size: 16px;
}

.step-circle.active {
    background-color:#E00201;
    color: #fff;
    border: 0px solid #E00201;
    font-weight: 700;
    font-size: 16px;
}

.red-font{
    color: #E00201;
}

.display-inline-blk {
    display: inline-block;
}

.step-line {
    width: 80px;
    border: 1px solid #CED2D7;
    margin-bottom: 5px;
}

.m-lr-200 {
    margin: 0px 200px;
}
.m-lr-50 {
    margin: 0px 50px;
}
.m-all-20{
    padding: 20px 20px;
}

.excursionRow .duration {
    padding: 5px;
    border: 1px solid #ced4da;
    background-color: #eee;
    border-left: 0px;
    line-height: 38px;
    height: 46px;
}

.right-25 {
    right: 25px;
}

.width-80pc {
    width: 80%;
}

.width-90pc {
    width: 90%;
}

.width-50pc {
    width: 50%;
}

.width-20pc {
    width: 20%;
}
.width-25pc {
    width: 25%;
}
.right-dropdown .dropdown-menu {
    left: auto !important;
}

.title-red {
    color: red
}

.title-blue {
    color: #0069d9;
}

.form-error {
    color: red;
    font-size: 14px;
}

.mediaList {
    list-style: none;
}

.mediaList li {
    display: inline-block;
    padding-right: 20px;
}
.mediaList img{
    width: 200px;
    height: 200px;
    border: 1px solid lightgray;
}

.drop-div .dropdown-toggle {
  
    font-weight: 400;
    background: #FFFFFF;
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    height: 46px;
    font-size: 13px;
    position: relative;
    text-align: left;
    color: #495057;
}
.dropdown-toggle::after{
    position: absolute;
    top: 21px;
    right: 15px;
}

.drop-div-right .dropdown-toggle{
    border-left: 0px !important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.drop-div ul.dropdown-menu {
    margin: 0px 15px;
    max-height: 200px;
    overflow-y: auto;
    width: -webkit-fill-available;

}

ul.dropdown-menu .dropdown-item {
    font-size: 13px;
    color: #495057;
}

.drop-div-right ul.dropdown-menu {
    margin-left: 0px !important;
    width: auto !important;
}

.form-border {
    border:1px solid #ced4da;
}

.form-round-border {
    border:1px solid #ced4da;
    border-radius: 10px;
}

.excursionContainer .tab-container .nav-link{
    color: black;
}

.excursionContainer .tab-content {
    border: 1px solid #ced4da;
    border-top: 0px;
}

.tableList .action .item {
    background-color: inherit;
    margin: 0px;
}
.title-5{
    font-weight: 400;
    font-size: 20px;
    color: #E00201;
}
.form-control{
    font-weight: 400;
    background: #FFFFFF;
    border: 1px solid #DFE3E9;
    border-radius: 4px;
    height: 46px;
    font-size: 13px;
}
.form_caption {
    font-weight: 400;
    font-size: 14px;
    color: #354052;
    letter-spacing: 0;
}
.input_label{
    -webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
border-radius: 0px;
}
.label_input{
    -webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
}
.title-7{
    font-weight: 500;
    font-size: 18px;
    color: #354052;
    font-weight: 500;
}
.title-8 {
    font-weight: 500;
    font-size: 14px;
}

.currency_dp{
    position: relative;
    width: 100px;
}
.currency_dp_right{
    margin: 0px !important;
    right:0px !important;
}
.custom_checkbox{
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #D8D8D8 100%);
    border: 1px solid #CED2D7;
    width: 18px !important;
    height: 18px !important;
    border-radius: 4px;
}
button.add{
    background: #354052;
    font-size: 16px;
    color: #FFFFFF;
    height: 46px;
    font-weight: 400;
}
.au-checkbox .au-checkmark:after{
    background: url("../src/assets/images/tick-sign_1.svg") no-repeat -1px 4px !important;
    height: 15px;
    width: 11px;
    transform:none !important;
    -webkit-transform:none !important;
    border-radius:none !important;
    border-width:0 !important;
    border: 0px solid #f00 !important;
}
.au-checkmark{     
    border: 0px solid #e5e5e5 !important;
    background-color:transparent !important; 
}
    .block-mail{
        background: rgb(208, 230, 163);
    }
    .block-status-inactive{
        background: rgb(226, 223, 224);
    }
/* == Header == */
.header-desktop3{
    /* background: #E00201; */
    background:#cb202d;
}
.header__navbar ul li a{
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
}
.header__navbar ul li a:hover{
    color: #E00201 !important;
}
.header__navbar ul li.has-sub a:hover{
    /* color: #fff !important */
    color: #262525 !important;
}
.header-desktop3 .header-button-item{
    color: #fff;
}
.fa-bell:before{
    font-size: 18px;
}
.fa-gear:before, .fa-cog:before{
    font-size: 18px;
}

.has-noti > i:after{
    background: #FFCA58 !important;
}
.header__logo, .header__logo a{
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: left;
}
.bot-line{background: #E00201 !important;}

/* == Header == */


.table_header{
    background: #F3F4F5;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.10);
    font-weight: 500;
    font-size: 14px;
    color: #354052;
}
.table-data2.table thead th{
    font-size: 14px !important;
    font-weight: 500 !important;
    font-weight: 500;
}
button.btn-prime{
    color: #fff;
    /* background-color: #E00201; */
    background-color: #cb202d; 
    border-radius: 25px;
    border-color:#E00201;
    border: 0px solid transparent;
    /* padding: 6px 25px; */
}
button.btn-prime:hover{
    color: #fff;
    background-color: #ff0b0a;
    border-color: #ff0b0a;
}

.ngx-pagination .current{
    background: #E00201 !important;
}

.ngx-pagination{
font-size: 13px;
}
.modal-body{
    padding: 35px 60px;
    /* max-height: 500px; */
    /* overflow-y: auto; */
}


.image-box {
    width: 250px;
    height: 200px;
    border: 1px solid lightgray;
}

.booking-rate {
    position: absolute;
    right: 1px;
    bottom: -10px;
}

/* .modal-dialog {
    max-width: 700px !important;
} */

.custom_table td, th {
    padding: 5px;
    border-bottom: 1px solid #ced4da;
}
/* Text area */
.ngx-editor-textarea[_ngcontent-c7], .ngx-editor-placeholder[_ngcontent-c7] {
    padding-left: 25px !important;
    font-size: 13px;
}

.sub-menu {
    z-index: 1;
    top: 0px;
    position: absolute;
    left: 100%;
    right: auto;
    float: left;
    min-width: 200px;
    margin: 0px;
    font-size: 15px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    display: block !important;
    text-align: left;
}

.sub-menu li {
    width: 100%;
}

.sub-menu li a {
    border-bottom: 0px;
}

/* Custom CSS */
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(150, 150, 150, 0.12);
    border-color: #DFE3E9;
}
button.dropdown-toggle:focus{
    box-shadow: 0 0 0 0.2rem rgba(150, 150, 150, 0.12);
    border-color: #DFE3E9;

}
.excursionRow .duration {
    min-width: 49px;
    text-align: center;
}
.au-checkmark.custom_checkbox {
    border: 1px solid #DFE3E9 !important;
    border-radius: 4px;
}
.au-checkbox .au-checkmark:after {
    width: 18px;
    height: 18px;
    position: absolute;
    left: -1px;
    background-position: center !important;
    top: -2px;
}
.m-lr-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}
.btn-prime {
    width: 110px !important;
    height: 40px !important;
    text-transform: uppercase;
    font-size: 13px;
}
.min_dropdown {
    min-width: 74px; 
    background-color: #eee !important;
}
.dropdown_width_100_main {
    position: relative;
}
.dropdown_width_100 {
    width: 100%;
    min-width: 100%;
}
.custom_checkbox {
    top: 3px;
}
.border-none {
    border: none !important;
}
.delete_btn {
    width: 46px;
    height: 46px;
    line-height: 46px;
    color: #fff;
    background-color: #E00201;
    padding: 0px;
    text-align: center;
    font-size: 20px;
    /* background-image: url('../src/assets/images/delete-button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px; */
}
.position-relative {
    position: relative !important;
}
.right-0 {
    right: 0px !important;
}
.width-full {
    width: 100%;
}
.modal-body {
    padding-left: 30px;
    padding-right: 30px;
}
.btn-black {
    background-color: #354052 !important;
}
.font-18 {
    font-size: 18px;
}
.form-group {
    margin-bottom: 0rem !important;
}
.pagination-previous{
    font-size: 12px;
}
.pagination-next {
    font-size: 12px;
}
.filter-dialog {
    width: 650px;
    height: 800px;
}

/* .form-control:disabled {
    color: red;
 } */
 .form-control:disabled, .form-control[readonly] {
    background-color: #f5efef78;
    opacity: 1;
}

/* // css for search excursion for booking */
 
section#ticket {
    width: 100%;
    margin-top: 030px;
    /* -webkit-box-shadow: -26px 25px 24px -31px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -26px 25px 24px -31px rgba(0, 0, 0, 0.75);
    box-shadow: -26px 25px 24px -31px rgba(0, 0, 0, 0.75); */
    border: 1px solid #ccc;
}
.ticket_cont {
    background: #FEFEFE;
    border-radius: 4px;
    /* overflow: hidden; */
}
.ticket_cont h2 {
    font-size: 22px;
    color: #354052;
    font-weight: 600;
    margin-bottom: 20px;
}
ul.detail {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    margin: 0px 0px 20px 0px;
    padding: 0;
    width: 100%;
}
ul.detail span {
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}

ul.detail li {
    display: inline-block;
    width: 49%;
}
.detail .caption {
    font-size: 16px;
    color: #354052;
    width: 80px;
    margin-bottom: 15px;
    font-weight: 500;
}
.detail .value {
    color: #5D6065;
}

.rules ul {
    margin: 0px 0px 0px 18px;
    padding: 0px;
    font-size: 15px;
    color: #5D6065;
}
section#ticket .top>div,
        section#ticket .bottom>div {
            padding: 0 18px;
        }
        
        section#ticket .top>div:first-child,
        section#ticket .bottom>div:first-child {
            padding-top: 18px;
        }
        section#ticket .top>div:last-child,
        section#ticket .bottom>div:last-child {
            padding-bottom: 18px;
        }
        
        section#ticket .top img,
        section#ticket .bottom img {
            padding: 18px 0;
        }
        section#ticket .top,
        section#ticket .bottom,
        section#ticket .rip {
            background-color: #fff;
        }
        
        section#ticket .top {
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
        section#ticket .top .deetz {
            padding-bottom: 10px !important;
        }
        
        section#ticket .bottom {
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            padding: 18px;
            height: 30px;
            padding-top: 10px;
        } section#ticket .bottom .barcode {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAAABCAYAAABXChlMAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAACPSURBVChTXVAJDsMgDOsrVpELiqb+/4c0DgStQ7JMYogNh2gdvg5VfXFCRIZaC6BOtnoNFpvaumNmwb/71Frrm8XvgYkker1/g9WzMOsohaOGNziRs5inDsAn8yEPengTapJ5bmdZ2Yv7VvfPN6AH2NJx7nOWPTf1/78hoqgxhzw3ZqYG1Dr/9ur3y8vMxgNZhcAUnR4xKgAAAABJRU5ErkJggg==);
            background-repeat: repeat-y;
            min-width: 58px;
        }
        section#ticket .bottom .buy {
            display: block;
            font-size: 12px;
            font-weight: bold;
            background-color: #5D9CEC;
            padding: 0 18px;
            line-height: 30px;
            border-radius: 15px;
            color: #fff;
            text-decoration: none;
        }
        section#ticket .rip {
            /* height: auto;
            margin: 0 10px;
            /* background-image: url(images/grayline.png); 
            background-repeat: repeat-x;
            background-position: center;
            position: relative;
              box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff;
            min-height: 208px; */
            position: absolute;
            right: 0;
            height: 100%;
            width: 1px;
            top: 0;
            border-left: 1px dashed #ccc;
        }
        section#ticket .rip:before,
        section#ticket .rip:after {
            content: '';
            position: absolute;
            /* border: 0px solid transparent;
            border-top-color: white;
            border-right-color: white;
            border-radius: 100%;
             pointer-events: none;
            background: #fff;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16) inset; */
            width: 41px;
            height: 21px;
            background-color: #FFF;
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
            border: 1px solid #ccc;
            border-bottom: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        section#ticket .rip:before {
            left: -20px;
            top: -1px;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        section#ticket .rip:after {
            right: -21px;
            bottom: -1px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(0deg);
        }
        
        widget .-bold {
            font-weight: bold;
        }
        .m_l_0 {
            margin-left: 0px;
        }
        
        section#ticket img {
            width: 100%;
            height: auto;
        }
        
        .parttwo {
            position: relative;
        }
        .parttwo:after {
            position: absolute;
            display: block;
            left: -17px;
            bottom: -17px;
            width: 35px;
            height: 34px;
            background: white;
            content: '';
            -webkit-border-top-left-radius: 50%;
            -webkit-border-top-right-radius: 50%;
            -moz-border-radius-topleft: 50%;
            -moz-border-radius-topright: 50%;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border: 2px solid #fff;
        }
        .p_t_20 {
            padding-top: 20px;
        }
        
        .p_b_20 {
            padding-bottom: 20px;
        }
        
        .ticketparttwo {
            padding: 50px 0px 0px 0px;
        }
        .parttwo h2 span {
            font-size: 28px;
            color: #354052;
        }
        
        .parttwo h2 {
            font-size: 44px;
            color: #354052;
            margin: 0px;
        }
        
        .status {
            font-size: 16px;
            font-weight: 600;
            margin:25px 0px;
        }
        .green {
            color: #0EB328;
        }
        button.booknow {
            background: #E00201;
            font-weight: 600;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            border-radius: 20px;
            padding: 8px 35px;
            border: 0px solid #f00;
        }
        .pertraveler{ font-weight: 400; font-size: 14px; font-weight: 400; color: #5D6065; }

        .full-width{
            width:100%;
          }

          .modify-booking-modal.modal-lg{
            width: 1000px !important;
            max-width:1000px !important;
        }
          
/* == Custom Radio  == */


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #D8D8D8 100%);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #ff0b0a;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.table-data2.table.booking_modify tbody tr td:first-child {vertical-align: middle !important;}